
		<td colspan="6" class="selected">
			<div id="user_popup<%=user.id%>" style="display: none">
				<% form_tag :action => "enable_user" do |t|%>
					The user "<%=user.name%>(<%=user.user_name%>)" was disabled because:<br />
					<blockquote><%=user.disabled_reason%></blockquote>
					<input type="hidden" name="id" value="<%=user.id%>" />
					<br />
					<input type="button" value="Enable user" onclick="function done_enabling() { 
																		new Ajax.Updater('row_<%=user.id%>', 
																		'/admin/_user_admin_show?id=<%=user.id%>', {
																			asynchronous: true, 
																			evalScripts: true, 
																			parameters: 'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>'), 
																			onComplete: function() {  }
																		});
																	 }
																	new Ajax.Updater('row_<%=user.id%>', 
																	'/admin/enable_user?id=<%=user.id%>', {
																		asynchronous: true, 
																		evalScripts: true, 
																		parameters: 'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>'), 
																		onComplete: done_enabling
																	});" 
					/>
					 or
					<%=link_to_remote("don't enable user", 
									:url => { :action => '_user_admin_show', :id => user.id }, 
									:update => "row_#{user.id}")%>
				<% end %>
			</div>
			<script type="text/javascript">
				// <!CDATA[
					Effect.BlindDown('user_popup<%=user.id%>', { duration: 0.3 });
					Effect.Appear('user_popup<%=user.id%>', { duration: 0.6 });
				// ]]>
			</script>
		</td>



