
		<td colspan="6" class="selected">
			<div id="user_popup<%=user.id%>" style="display: none">
				<% form_tag :action => "disable_user" do |t|%>
					Reason for disabling "<%=user.name%>(<%=user.user_name%>)":<br />
					<textarea id="disabled_reason" name="disabled_reason" rows="2" style="width: 90%;"><%=user.disabled_reason%></textarea>
					<input type="hidden" name="id" value="<%=user.id%>" />
					<br />
					<input type="button" value="Disable user" onclick="function done_disabling() { 
																		new Ajax.Updater('row_<%=user.id%>', 
																		'/admin/_user_admin_show?id=<%=user.id%>', {
																			asynchronous: true, 
																			evalScripts: true, 
																			parameters: 'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>'), 
																			onComplete: function() {  }
																		});
																	 }
																	new Ajax.Updater('row_<%=user.id%>', 
																	'/admin/disable_user?id=<%=user.id%>&disabled_reason=' + encodeURIComponent($('disabled_reason').value), {
																		asynchronous: true, 
																		evalScripts: true, 
																		parameters: 'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>'), 
																		onComplete: done_disabling
																	});" 
					/>
					 or
					<%=link_to_remote("don't disable user", 
									:url => { :action => '_user_admin_show', :id => user.id }, 
									:update => "row_#{user.id}")%>
				<% end %>
			</div>
			<script type="text/javascript">
				// <!CDATA[
					Effect.BlindDown('user_popup<%=user.id%>', { duration: 0.3 });
					Effect.Appear('user_popup<%=user.id%>', { duration: 0.6 });
				// ]]>
			</script>
		</td>



