<h1>Listing Title Reviews</h1>

<%= will_paginate @title_reviews %>

<% if @title_reviews.length == 0 %>
	<p>There are no reviews.</p>
<% else %>
<table>
	<tr>
		<th>User</th>
		<th>Title</th>
		<th>Body</th>
	</tr>

	<% for title_review in @title_reviews %>
	<tr>
		<td><%=h title_review.user_id %></td>
		<td><%=h title_review.title_id %></td>
		<td><%=h title_review.body %></td>
		<td><%= link_to 'Show', title_review %></td>
		<td><%= link_to 'Edit', edit_title_review_path(title_review) %></td>
		<td><%= link_to 'Destroy', title_review, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>
<% end %>

<%= will_paginate @title_reviews %>
