<h1>Listing Users</h1>

<%= will_paginate @users %>

<table>
	<tr>
		<th>Name</th>
		<th>Permissions</th>
	</tr>

<% for user in @users -%>
	<tr>
		<td><%=h user.name %></td>
		<td>
		<% for name in %w{User Critic Moderator Administrator} %>
			<% is_checked = (name[0..0] == user.user_type) %>
			<%= radio_button("user", 
				"user_type[#{user.id}]", 
				name, 
				:checked => is_checked, 
				:onclick => "$('status_#{user.id}').value='#{name}'") + name %>
		<% end %>
		<input type="hidden" id="status_<%=user.id%>" value="">
			<%= observe_field "status_#{user.id}",
								:url => { :controller => 'users', :action => 'set_user_type', :id => user.id },
								:frequency => 0.25,
								:on => "changed",
								:update => 'flash_notice',
								:with => "'user_type=' + value",
								:after => "$('flash_notice').show()" %>
		</td>
		<td><%= link_to 'Show', user %></td>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
		<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end -%>
</table>

<%= will_paginate @users %>

<br />

<%= link_to 'New user', new_user_path %>
