<h1>Listing Users</h1>

<%= will_paginate @users %>

<table id="tbl_users" cellpadding="5" cellspacing="0" border="0">
	<tr>
		<th>User Name</th>
		<th>Name</th>
		<th>Permissions</th>
		<th>Activated</th>
		<th></th>
		<th>Disable</th>
	</tr>
<% row_number = 1 %>
<% for user in @users -%>
	<tr id="row_<%=user.id%>">
	<%= render :partial => "user_admin_show",  :locals => { :user => user } %>
	</tr>
	<% row_number += 1 %>
<% end -%>
</table>


<%= will_paginate @users %>

<br />

<%= link_to 'New user', new_user_path %>


