
<div id="<%=element_id%>">
	<textarea id="comment_body" rows="2" style="width:100%;"></textarea>
	<br />
	<button id="btn_submit_comment" onclick="new Ajax.Updater('<%=element_id%>', 
												'/title_reviews/_create_title_comment', {
												asynchronous: true,
												evalScripts: true,
												method: 'post',
												onLoading: function(request){
															$('<%=element_id%>').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
														},
													parameters: {
														authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
														title_review_id: '<%=review_id%>',
														title_id: '<%=title_id%>',
														body: $('comment_body').value,
														page: '<%= params['page'] %>'
													}
												}); return false;">
	Submit your comment</button>
	 or 
	<a href="#" id="btn_comment" onclick="new Ajax.Updater('<%=element_id%>', 
													'/title_reviews/_default_title_comment?' +
																	'element_id=<%=element_id%>' +
																	'&title_id=<%=title_id%>' +
																	'&review_id=<%=review_id%>', 
												{asynchronous: true, evalScripts: true, 
												onLoading: function(request){
															$('<%=element_id%>').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
														},
												parameters: 'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>')}); return false;">
	don't</a>
</div>
