
<div id="<%=element_id%>">
	<button id="btn_comment_<%=review_id%>" style="display: none;"
											onclick="new Ajax.Updater('<%=element_id%>', 
													'/title_reviews/_add_title_comment?' + 
																			'element_id=' + encodeURIComponent('<%=element_id%>') + 
																			'&title_id=<%=title_id%>' + 
																			'&review_id=<%=review_id%>' +
																			'&page=<%=params['page']%>', 
												{asynchronous: true, evalScripts: true, 
												onLoading: function(request){
															$('<%=element_id%>').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
														},
												parameters: 'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>')}); return false;">
	Add a comment</button>

	<script type="text/javascript">
		// <![CDATA[
		<% if defined?(refresh_everything) != nil && refresh_everything == true %>
			new Ajax.Updater("external_title_reviews", 
							"/title_reviews/_list_by_title/<%=title_id%>?page=<%=page%>", 
							{asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>')});
		<% end %>

		show_tags_to_user_only('button', 'btn_comment_<%=review_id%>');
		// ]]>
	</script>
</div>


