
<p>
  <b>Title:</b>
  <%=h @title_review.title.name %>
</p>

<p>
  <b>User:</b>
  <%=h @title_review.user.name %>
</p>

<p>
  <b>Body:</b>
  <%=h @title_review.body %>
</p>


<%= link_to 'Edit', edit_title_review_path(@title_review) %> |
<%= link_to 'Back', title_reviews_path %>
