
<p>
  <b>Title:</b>
  <%=h @title_review.title.name %>
</p>

<p>
  <b>User:</b>
  <%=h @title_review.user.name %>
</p>

<p>
  <b>Body:</b>
  <%=h @title_review.body %>
</p>


<%= link_to 'Edit this review', edit_title_review_path(@title_review) %> <br />
<%= link_to "Back to '#{@title_review.title.name}'", :controller => 'titles', :action => 'show', :id => @title_review.title.id %>
