
<p>
  <b>Title:</b>
  <%=h @title_review.title.proper_name %>
</p>

<p>
  <b>User:</b>
  <%=h @title_review.user.user_name %>
</p>

<p>
  <b>Body:</b><br />
  <%= h(@title_review.body).gsub("\n", "<br />") %>
</p>


<%= link_to 'Edit this review', edit_title_review_path(@title_review), { :id => 'lnk_edit_review', :style => 'display: none;' } %> <br />
<%= link_to "Back to '#{@title_review.title.proper_name}'", :controller => 'titles', :action => 'show', :id => @title_review.title.url_name %>

<script type="text/javascript">
	// <![CDATA[
	// Show all the elements the user is allowed to see.
	show_tags_to_originating_user_only('a', 'lnk_edit_review', <%= h @title_review.user.id %>);
	// ]]>
</script>
