
<script type="text/javascript">
	// <!CDATA[
	// Hide the page, while we hide elements that the user is not supposed to see
	document.body.hide();
	// ]]>
</script>

<p>
  <b>Title:</b>
  <%=h @title_review.title.name %>
</p>

<p>
  <b>User:</b>
  <%=h @title_review.user.name %>
</p>

<p>
  <b>Body:</b>
  <%=h @title_review.body %>
</p>


<%= link_to 'Edit this review', edit_title_review_path(@title_review), { :id => 'lnk_edit_review' } %> <br />
<%= link_to "Back to '#{@title_review.title.name}'", :controller => 'titles', :action => 'show', :id => @title_review.title.id %>

<script type="text/javascript">
	// <!CDATA[
	// Hide all the elements the user is not supposed to see. Then show the page.
	tags_visible_to_originating_user_only('a', 'lnk_edit_review', <%= h @title_review.user.id %>);
	document.body.show();
	// ]]>
</script>
