
<% form_for(user) do |f| %>
	<p>
		<b>Name</b><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<b>User Name</b><br />
		<%= f.text_field :user_name %>
	</p>
	<p>
		<b>Password</b><br />
		<%= f.password_field :password %>
	</p>
	<p>
		<b>Confirm Password</b><br />
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<b>Email</b><br />
		<%= f.text_field :email %>
	</p>
	<p>
		<b>Year of Birth</b><br />
		<%= f.select :year_of_birth, (Time.now.year-140..Time.now.year).to_a.reverse.collect { |n| n }, :include_blank => true %>
	</p>
	<p>
		<b>Time Zone</b><br />
		<%= f.time_zone_select :time_zone, TimeZone.all, :include_blank => true %>
	</p>
	<p>
		<b>Gender</b><br />
		<%= f.select :gender, Sex::NAMES_ABBREVIATIONS, {:selected => user.gender || 'U'} %>
	</p>
	<p>
		<%= f.submit button_name %>
	</p>
<% end %>
