
<style type="text/css">
	.styled_form label span {
		width: 140px;
		float: left;
	}

	.styled_form input, select {
		width: 200px;
		float: left;
	}

	.styled_form p {
		padding: 10px;
		clear: both;
	}
</style>

<div id="user_info" class="styled_form" style="width:470px; float:right; padding-top:25px;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

User Information

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

<% if Settings.is_beta %>
<h2 style="color: red;">
	Signing up for the closed beta will require that your account is 
	approved. You should receive an email in a few hours to tell you 
	if you have been approved.
</h2>
<% end %>

<% form_for(user) do |f| %>
	<p>
		<label for="name"><span><b>Name</b></span></label>
		<%= f.text_field :name %>
	</p>
	<p>
		<label for="user_name"><span><b>User Name</b></span></label>
		<%= f.text_field :user_name %>
	</p>
	<p>
		<label for="password"><span><b>Password</b></span></label>
		<%= f.password_field :password %>
	</p>
	<p>
		<label for="password_confirmation"><span><b>Confirm Password</b></span></label>
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<label for="email"><span><b>Email</b></span></label>
		<%= f.text_field :email %>
	</p>
	<p>
		<label for="year_of_birth"><span><b>Year of Birth</b></span></label>
		<%= f.select :year_of_birth, (Time.now.year-140..Time.now.year).to_a.reverse.collect { |n| n }, :include_blank => true %>
	</p>
	<p>
		<label for="time_zone"><span><b>Time Zone</b></span></label>
		<%= f.time_zone_select :time_zone, TimeZone.all, :include_blank => true %>
	</p>
	<p>
		<label for="gender"><span><b>Gender</b></span></label>
		<%= f.select :gender, Sex::NAMES_ABBREVIATIONS, {:selected => user.gender || 'U'} %>
	</p>
	<p>
		<%= f.submit button_name %>
	</p>
<% end %>

<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>






<div id="why_sign_up" style="width:470px; float:left; padding-top:25px;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

Why sign up?

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

Your benifits! Great Stuff, and you can rate! 

<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>




<div id="forgot_password" class="styled_form" style="width:470px; float:left; padding-top:25px;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

I forgot my password

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

If you have forgotten your password, submit this form to have the password sent to the email address from your account.
You must remember your user name and email address to have the password sent.

<% form_tag(:controller => 'users', :action => 'forgot_password') do |f| %>
	<p>
		<label for="user_name"><span><b>User Name</b></span></label>
		<%= text_field_tag :user_name %>
	</p>
	<p>
		<label for="email"><span><b>Email</b></span></label>
		<%= text_field_tag :email %>
	</p>
	<p>
		<%= submit_tag 'Send password' %>
	</p>
<% end %>

<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>



<br style="clear: both;" />
