

<div>
	<%= image_tag @user.avatar_file_or_default, :size => "100x100" %>
</div>

<div>
	<p>
		<b>User Name:</b>
		<%=h @user.user_name %>
	</p>
	<p>
		<b>Name:</b>
		<%=h @user.name %>
	</p>
	<p>
		<b>Email:</b>
		<%=h @user.email %>
	</p>
	<p>
		<b>Year of birth:</b>
		<%=h @user.year_of_birth %>
	</p>
	<p>
		<b>Time Zone:</b>
		<%=h @user.time_zone %>
	</p>
	<p>
		<b>Gender:</b>
		<%=h Sex::NAMES_ABBREVIATIONS.select { |k, v| v == @user.gender }.first.first %>
	</p>
	<p>
		<b>User Type:</b>
		<%=h UserType::NAMES_ABBREVIATIONS.select { |k, v| v == @user.user_type }.first.first %>
	</p>

	<%= link_to 'Edit user information', edit_user_path(@user), :id => 'lnk_edit_user' %>
</div>

<h2>Reviews by this user</h2>
<% if @title_reviews.length == 0 %>
	This user has no reviews.
<% else %>
	<% for review in @title_reviews %>
	<%= link_to review.title.name, :controller => 'title_reviews', :action => 'show', :id => review.id %><br />
	<% end %>
<% end %>

<h2>Ratings by this user</h2>
<% if @title_ratings.length == 0 %> 
	This user has no ratings.
<% else %>
	<% for ratings in @title_ratings %>
	<%= link_to ratings.title.name, :controller => 'title_ratings', :action => 'show', :id => ratings.id %><br />
	<% end %>
<% end %>

<script type="text/javascript">
	// <!CDATA[
	tags_visible_to_user_only('a', 'lnk_edit_user');
	// ]]>
</script>
