<% if @person_map && @other_persons %>
<h1>Search Results</h1>
<div style="padding-bottom: 200px;">
	<% for person, titles in @person_map %>
		<%=h(person)%>
		<ul>
		<% for title in titles %>
			<li><%= link_to title.proper_name, :controller => 'titles', :action => 'show', :id => title.url_name %></li>
		<% end %>
		</ul>
	<% end %>
	<% if @other_persons.length > 0 %>
		Other people you may be looking for:
		<% form_tag({:action => 'search', :method => 'post' }, {:id => 'other_person_form'}) do -%>
			<input type="hidden" name="type" value="by_<%=@person_type%>" />
			<input id="person_field" type="hidden" name="<%=@person_type%>" value="" />
			<ul>
			<% for person in @other_persons %>
				<li><%=link_to_function(h(person), "$('person_field').value='#{person}'; $('other_person_form').submit()")%></li>
			<% end %>
			</ul>
		<% end %>
	<% end %>
	<% if @person_map.length == 0 && @other_persons.length == 0 %>
		There were no people found.
	<% end %>
</div>
<% elsif @titles %>
<h1>Search Results</h1>

<!-- Link to First -->
<% if @titles.length > 0 && @titles.current_page != 1 %>
	<% if @titles.current_page != 1 && @titles.current_page != 2 && @titles.current_page != 3 %>
	<a href="" id="link_search_result_page_1" style="width: 80px;" onclick="new Ajax.Updater('search_results', 
							'/titles/_search', 
							{asynchronous: true, evalScripts: true, 
								onLoading: function(request) {
											$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
								},
								parameters: {
									authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
									type: '<%=@type%>',
									title: encodeURIComponent('<%=@title%>'),
									page: 1,
									tag_id: <%=params[:tag_id]||0%>,
									<% for genre in Title::genres + Title::attributes %>
									'title_rating[<%=genre%>]' : $('title_rating_<%=genre%>').value,
									<% end %>
								}
							}); return false;">
	First</a>
	<% end %>
<% end %>

<!-- Link to Previous -->
<% if @titles.length > 0 && @titles.current_page != 1 %>
	<a href="" id="link_search_result_page_<%=@titles.current_page-1%>" style="width: 80px;" onclick="new Ajax.Updater('search_results', 
							'/titles/_search', 
							{asynchronous: true, evalScripts: true, 
								onLoading: function(request) {
											$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
								},
								parameters: {
									authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
									type: '<%=@type%>',
									title: encodeURIComponent('<%=@title%>'),
									page: <%=@titles.current_page-1%>,
									tag_id: <%=params[:tag_id]||0%>,
									<% for genre in Title::genres + Title::attributes %>
									'title_rating[<%=genre%>]' : $('title_rating_<%=genre%>').value,
									<% end %>
								}
							}); return false;">
	Previous</a>
<% end %>

<!-- Links to Middle Pages -->
<% for j in (@titles.current_page-2 .. @titles.current_page+2) %>
	<% next if j < 1 %>
	<% break if j > @titles.total_pages %>

	<% if j == @titles.current_page %>
		<b><%=j%></b>
	<% else %>
	<a href="" id="link_search_result_page_<%=j%>" style="width: 80px;" onclick="new Ajax.Updater('search_results', 
							'/titles/_search', 
							{asynchronous: true, evalScripts: true, 
								onLoading: function(request) {
											$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
								},
								parameters: {
									authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
									type: '<%=@type%>',
									title: encodeURIComponent('<%=@title%>'),
									page: <%=j%>,
									tag_id: <%=params[:tag_id]||0%>,
									<% for genre in Title::genres + Title::attributes %>
									'title_rating[<%=genre%>]' : $('title_rating_<%=genre%>').value,
									<% end %>
								}
							}); return false;">
	<%=j%></a>
	<% end %>

	<% if @titles.current_page + 2 || j == @titles.total_pages %>
		 
	<% else %>
		 | 
	<% end %>
<% end %>

<!-- Link to Next -->
<% if @titles.length > 0 && @titles.current_page != @titles.total_pages %>
	<a href="" id="link_search_result_page_<%=@titles.current_page+1%>" style="width: 80px;" onclick="new Ajax.Updater('search_results', 
							'/titles/_search', 
							{asynchronous: true, evalScripts: true, 
								onLoading: function(request) {
											$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
								},
								parameters: {
									authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
									type: '<%=@type%>',
									title: encodeURIComponent('<%=@title%>'),
									page: <%=@titles.current_page+1%>,
									tag_id: <%=params[:tag_id]||0%>,
									<% for genre in Title::genres + Title::attributes %>
									'title_rating[<%=genre%>]' : $('title_rating_<%=genre%>').value,
									<% end %>
								}
							}); return false;">
	Next</a>
<% end %>

<!-- Link to Last -->
<% if @titles.length > 0 && @titles.current_page != @titles.total_pages %>
	<% if @titles.current_page != @titles.total_pages && @titles.current_page + 1 != @titles.total_pages && @titles.current_page + 2 != @titles.total_pages %>
	<a href="" id="link_search_result_page_<%=@titles.total_pages%>" style="width: 80px;" onclick="new Ajax.Updater('search_results', 
							'/titles/_search', 
							{asynchronous: true, evalScripts: true, 
								onLoading: function(request) {
											$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
								},
								parameters: {
									authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
									type: '<%=@type%>',
									title: encodeURIComponent('<%=@title%>'),
									page: <%=@titles.total_pages%>,
									tag_id: <%=params[:tag_id]||0%>,
									<% for genre in Title::genres + Title::attributes %>
									'title_rating[<%=genre%>]' : $('title_rating_<%=genre%>').value,
									<% end %>
								}
							}); return false;">
	Last</a>
	<% end %>
<% end %>


<div style="padding-bottom: 200px;">
	<% for title in @titles %>
	<table>
		<tr>
			<td>
				<%= link_to("<img src=\"/" + title.random_small_image_file + "\" />", 
					:controller => 'titles', :action => 'show', :id => title.url_name)%>
			</td>
			<td>
				<%= link_to title.proper_name, :controller => 'titles', :action => 'show', :id => title.url_name %>
				<br />
				<table>
					<tr><td><b>Genre</b></td></tr>

					<% count = 0; incr = 4 %>
					<% while count < Title::genres.length %>
					<tr>
						<% for genre in Title::genres.slice(count, incr) %>
						<td><%="&nbsp;" * 8 + genre.humanize + ": "%></td>
						<td><%=(title.send("avg_#{genre}") || 0.0).to_precision(1).to_s%></td>
						<% end %>
						<% count += incr %>
					</tr>
					<% end %>

					<tr><td><b>Attributes</b></td></tr>

					<% count = 0; incr = 4 %>
					<% while count < Title::attributes.length %>
					<tr>
						<% for attribute in Title::attributes.slice(count, incr) %>
						<td><%="&nbsp;" * 8 + attribute.humanize + ": "%></td>
						<td><%=(title.send("avg_#{attribute}") || 0.0).to_precision(1).to_s%></td>
						<% end %>
						<% count += incr %>
					</tr>
					<% end %>
				</table>
			</td>
		</tr>
	</table>
	<% end %>
	<% if @titles.length == 0 %>
		There were no results for your search
	<% end %>
</div>
<% else %>
	Try again
<% end %>

