
<script type="text/javascript">
	// <!CDATA[
	// Hide the page, while we hide elements that the user is not supposed to see
	document.body.hide();
	// ]]>
</script>

<h1>Listing titles</h1>


<%= will_paginate @titles %>
<br />

<table>
<% for title in @titles -%>
<% n = @titles.index(title) %>
	<tr>
		<td><%= link_to(h(title.name), title) %></td>
		<td><%= link_to 'Edit', edit_title_path(title), :id => "link_edit_#{n}" %></td>
		<td><%= link_to 'Destroy', title, :id => "link_delete_#{n}", :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end -%>
</table>
<br />

<%= will_paginate @titles %>
<br />


<%= link_to 'New title', new_title_path, :id => 'lnk_new_title' %>

<script type="text/javascript">
	// <!CDATA[
	// Hide all the elements the user is not supposed to see. Then show the page.
	tags_visible_to_moderator_only('a', /^link_edit_\d*$/);
	tags_visible_to_admin_only('a', /^link_delete_\d*$/);
	tags_visible_to_admin_only('a', 'lnk_new_title');
	document.body.show();
	// ]]>
</script>

