
<h1>Listing titles</h1>


<%= will_paginate @titles %>
<br />

<table>
<% for title in @titles -%>
<% n = @titles.index(title) %>
	<tr>
		<td><%= link_to(h(title.name), title) %></td>
		<td><%= link_to 'Edit', edit_title_path(title), :id => "lnk_edit_#{n}", :style => 'display: none;' %></td>
		<td><%= link_to 'Destroy', title, :id => "lnk_delete_#{n}", :style => 'display: none;', :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end -%>
</table>
<br />

<%= will_paginate @titles %>
<br />


<%= link_to 'New title', new_title_path, :id => 'lnk_new_title', :style => 'display: none;' %>

<script type="text/javascript">
	// <!CDATA[
	// Show all the elements the user is allowed to see.
	show_tags_to_moderator_only('a', /^lnk_edit_\d*$/);
	show_tags_to_admin_only('a', /^lnk_delete_\d*$/);
	show_tags_to_admin_only('a', 'lnk_new_title');
	// ]]>
</script>

