<h1>Title Search</h1>

<% form_for @title_rating, :url => {:action => 'search'} do |f| %>
	<div id="container">

		<script type="text/javascript" language="JavaScript">
			var IE = document.all ? true : false;
			var mouse_x = 0;
			var mouse_y = 0;
			var prev_mouse_x = -1;
			var prev_mouse_y = -1;
			var star_on = "<img src=\"/images/heart_on.jpg\" />";
			var star_off = "<img src=\"/images/heart_off.jpg\" />";
			var star_max = 5;
			var image_width = 20;

			setInterval(check_mouse_off, 125);

			var id_rects = [];
			function check_mouse_off() {
				if(mouse_x == prev_mouse_x &&
					mouse_y == prev_mouse_y) {
					return;
				}
				prev_mouse_x = mouse_x;
				prev_mouse_y = mouse_y;

				for(i=0; i<id_rects.length; i++) {
					var c = $(id_rects[i] + '_info');
					if(!(mouse_x >= c.offsetLeft && mouse_x <= (c.offsetLeft + c.offsetWidth) &&
						mouse_y >= c.offsetTop && mouse_y <= (c.offsetTop + c.offsetHeight))) {
						var newHTML = star_off;
						var count = parseInt($(id_rects[i]).value);
						for(j=0; j<count; j++) {
							newHTML += star_on;
						}
						for(j=0; j<star_max-count; j++) {
							newHTML += star_off;
						}
						c.innerHTML = newHTML;
					}
				}
			}

			container = $('container');
			container.onmousemove = function(e) {
				var tempX = 0;
				var tempY = 0;
				if (IE) { // grab the x-y pos.s if browser is IE
					tempX = e.clientX + document.body.scrollLeft;
					tempY = e.clientY + document.body.scrollTop;
				} else {  // grab the x-y pos.s if browser is NS
					tempX = e.pageX;
					tempY = e.pageY;
				}

				mouse_x = tempX;
				mouse_y = tempY;
			}
		</script>

		<fieldset>
			<legend>Genre</legend>
			<% for genre in Title::genres %>
			<div id="title_rating_<%=genre%>_container"
					class="title_rating_attribute">
				<input id="title_rating_<%=genre%>" name="title_rating[<%=genre%>]" type="hidden" value="<%= @title_rating.send(genre) || 0 %>" />
				<span id="title_rating_<%=genre%>_info">
					<%= image_tag('heart_off.jpg') * 6 %>
				</span>
				<b><%= genre.gsub('_', ' ').capitalize %></b>
			</div>
			<script type="text/javascript" language="JavaScript">
			id_rects.push('title_rating_<%=genre%>');

			$('title_rating_<%=genre%>_info').onclick = function() {
				var value = $('title_rating_<%=genre%>');
				var control = $('title_rating_<%=genre%>_info');
				var on_count = control.innerHTML.split('on').length-1;
				value.value = on_count;
			}

			$('title_rating_<%=genre%>_info').onmousemove = function(e) {
				var control = $('title_rating_<%=genre%>_info');
				var tempX = 0;
				var tempY = 0;
				if (IE) { // grab the x-y pos.s if browser is IE
					tempX = e.clientX + document.body.scrollLeft;
					tempY = e.clientY + document.body.scrollTop;
				} else {  // grab the x-y pos.s if browser is NS
					tempX = e.pageX;
					tempY = e.pageY;
				}
				tempX -= control.offsetLeft;
				tempY -= control.offsetTop;

				var star_count = parseInt(tempX / image_width);
				if(star_count > star_max) star_count = 0;

				var content = star_off;
				for(i=0; i<star_count; i++) {
					content += star_on;
				}
				for(i=0; i<star_max-star_count; i++) {
					content += star_off;
				}
				control.innerHTML = content;
			}
			</script>
			<% end %>
		</fieldset>

		<fieldset>
			<legend>Attributes</legend>
			<% for attribute in Title::attributes %>
			<div id="title_rating_<%=attribute%>_container"
					class="title_rating_attribute">
				<input id="title_rating_<%=attribute%>" name="title_rating[<%=attribute%>]" type="hidden" value="<%= @title_rating.send(attribute) || 0 %>" />
				<span id="title_rating_<%=attribute%>_info">
					<%= image_tag('heart_off.jpg') * 6 %>
				</span>
				<b><%= attribute.gsub('_', ' ').capitalize %></b>
			</div>
			<script type="text/javascript" language="JavaScript">
			id_rects.push('title_rating_<%=attribute%>');

			$('title_rating_<%=attribute%>_info').onclick = function() {
				var value = $('title_rating_<%=attribute%>');
				var control = $('title_rating_<%=attribute%>_info');
				var on_count = control.innerHTML.split('on').length-1;
				value.value = on_count;
			}

			$('title_rating_<%=attribute%>_info').onmousemove = function(e) {
				var control = $('title_rating_<%=attribute%>_info');
				var tempX = 0;
				var tempY = 0;
				if (IE) { // grab the x-y pos.s if browser is IE
					tempX = e.clientX + document.body.scrollLeft;
					tempY = e.clientY + document.body.scrollTop;
				} else {  // grab the x-y pos.s if browser is NS
					tempX = e.pageX;
					tempY = e.pageY;
				}
				tempX -= control.offsetLeft;
				tempY -= control.offsetTop;

				var star_count = parseInt(tempX / image_width);
				if(star_count > star_max) star_count = 0;

				var content = star_off;
				for(i=0; i<star_count; i++) {
					content += star_on;
				}
				for(i=0; i<star_max-star_count; i++) {
					content += star_off;
				}
				control.innerHTML = content;
			}
			</script>
			<% end %>
		</fieldset>

		<p>
			<%= f.submit 'Search' %>
		</p>
	</div>
<% end %>

<% if @titles %>
<a name="results"><h2>Search Results</h2></a>
<div style="padding-bottom: 200px;">
	<script type="text/javascript" language="JavaScript">
		document.location = "#results";
	</script>
	<% for title in @titles %>
	<%= link_to title.name, :controller => 'titles', :action => 'show', :id => title.id %><br />
	<% end %>
	<% if @titles.length == 0 %>
		There were no results for your search
	<% end %>
</div>
<% end %>


