


<div style="width:960px;">
<h1>Search by ...</h1>
<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr valign="top">
		<td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px">
		</td>
		<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
			<table cellpadding="0" cellspacing="0" border="0" class="title">
				<tr>
					<td style="background: url(/images/panel_oj_hleft.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
					<td class="panel_title">
						<h1>
							<%= link_to_function "Title", "Effect.BlindDown('search_by_title', {duration: 0.3}); $('search_by_director').hide(); $('search_by_actor').hide(); $('search_by_ratings').hide(); $('search_results').hide(); $('search_by_tags').hide();", :style => "color: #FFFFFF; text-decoration: none;" %>
						</h1>
					</td>
					<td style="background: url(/images/panel_oj_hright.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
					<td style="background: url(/images/panel_oj_hleft.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
					<td class="panel_title">
						<h1>
						<%= link_to_function "Director", "Effect.BlindDown('search_by_director', {duration: 0.3}); $('search_by_title').hide(); $('search_by_actor').hide(); $('search_by_ratings').hide(); $('search_results').hide(); $('search_by_tags').hide();", :style => "color: #FFFFFF; text-decoration: none;" %>
						</h1>
					</td>
					<td style="background: url(/images/panel_oj_hright.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
					<td style="background: url(/images/panel_oj_hleft.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
					<td class="panel_title">
						<h1>
							<%= link_to_function "Actor", "Effect.BlindDown('search_by_actor', {duration: 0.3}); $('search_by_director').hide(); $('search_by_title').hide(); $('search_by_ratings').hide(); $('search_results').hide(); $('search_by_tags').hide();", :style => "color: #FFFFFF; text-decoration: none;" %>
						</h1>
					</td>
					<td style="background: url(/images/panel_oj_hright.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
					<td style="background: url(/images/panel_oj_hleft.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
					<td class="panel_title">
						<h1>
							<%= link_to_function "Ratings", "Effect.BlindDown('search_by_ratings', {duration: 0.3}); $('search_by_director').hide(); $('search_by_actor').hide(); $('search_by_title').hide(); $('search_by_tags').hide(); $('search_results').hide()", :style => "color: #FFFFFF; text-decoration: none;" %>
						</h1>
					</td>
					<td style="background: url(/images/panel_oj_hright.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
					<td style="background: url(/images/panel_oj_hleft.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
					<td class="panel_title">
						<h1>
							<%= link_to_function "Tags", "Effect.BlindDown('search_by_tags', {duration: 0.3}); $('search_by_director').hide(); $('search_by_actor').hide(); $('search_by_title').hide(); $('search_by_ratings').hide(); $('search_results').hide();", :style => "color: #FFFFFF; text-decoration: none;" %>
						</h1>
					</td>
					<td style="background: url(/images/panel_oj_hright.jpg) top left no-repeat;" width="41px" height="28px">
					</td>
				</tr>
			</table>
		</td>
		<td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px">
		</td>
	</tr>
	<tr valign="top">
		<td style="background:url(/images/oj_left.jpg) left repeat-y;">
		</td>
		<td class="panel_body">
			<div id="search_by_title" style="padding-left:20px;<%=@has_results ? '' : 'display: none'%>">
					<b>Search by Title: </b>
					<%= text_field_tag :title, params[:title], :onKeyPress => "if(event.keyCode == 13) $('btn_by_title').click();"%>
					<br />
					<button id="btn_by_title" style="width: 80px;" onclick=" new Ajax.Updater('search_results', 
												'/titles/_search', 
												{asynchronous: true, evalScripts: true, 
													onLoading: function(request) {
																$('search_by_title').hide();
																$('search_results').show();
																$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
													},
													parameters: {
														authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
														type: 'by_title',
														title: $('title').value
													}
												}); return false;">
					Search</button>
					<script type="text/javascript">
					// <![CDATA[
						if(<%=@has_results.to_s%> == true) {
							$('btn_by_title').click();
						}
					// ]]>
					</script>
			</div>

			<div id="search_by_director" style="padding-left:20px; display: none;">
					<b>Search by Director: </b>
					<%= text_field_tag :director, params[:director], :onKeyPress => "if(event.keyCode == 13) $('btn_by_director').click();" %>

					<br />
					<button id="btn_by_director" style="width: 80px;" onclick=" new Ajax.Updater('search_results', 
												'/titles/_search', 
												{asynchronous: true, evalScripts: true, 
													onLoading: function(request) {
																$('search_by_director').hide();
																$('search_results').show();
																$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
													},
													parameters: {
														authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
														type: 'by_director',
														director: $('director').value
													}
												}); return false;">
					Search</button>
			</div>


			<div id="search_by_actor" style="padding-left:20px; display: none;">
					<b>Search by Actor: </b>
					<%= text_field_tag :actor, params[:actor], :onKeyPress => "if(event.keyCode == 13) $('btn_by_actor').click();" %>

					<br />
					<button id="btn_by_actor" style="width: 80px;" onclick=" new Ajax.Updater('search_results', 
												'/titles/_search', 
												{asynchronous: true, evalScripts: true, 
													onLoading: function(request) {
																$('search_by_actor').hide();
																$('search_results').show();
																$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
													},
													parameters: {
														authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
														type: 'by_actor',
														actor: $('actor').value
													}
												}); return false;">
					Search</button>
			</div>


			<div id="search_by_ratings" style="padding-left:20px;<%=@has_results ? 'display: none' : ''%>">
				<div id="container">
					<h2>Genre</h2>
						<% for genre in Title::genres %>
						<div class="title_rating_attribute">
							<div id="ratings_<%=genre%>" class="rating_star">
								<input id="title_rating_<%=genre%>" name="title_rating[<%=genre%>]" class="holder" type="hidden" value="<%= @title_rating.send(genre) || 0 %>" />
								<a title="Don't Rate" class="dont" onclick="star_click_rating(this)" onmouseover="star_update_images(this, 0)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="1"     onclick="star_click_rating(this)" onmouseover="star_update_images(this, 1)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="2"     onclick="star_click_rating(this)" onmouseover="star_update_images(this, 2)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="3"     onclick="star_click_rating(this)" onmouseover="star_update_images(this, 3)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="4"     onclick="star_click_rating(this)" onmouseover="star_update_images(this, 4)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="5"     onclick="star_click_rating(this)" onmouseover="star_update_images(this, 5)" onmouseout="star_mouse_off_rating(this)"></a>
								&nbsp; <b><%= genre.humanize %></b>
							</div>
						</div>
						<script type="text/javascript" language="JavaScript">
							// <![CDATA[
							// Set the initial value of the stars
							star_mouse_off_rating($("ratings_<%=genre%>").getElementsByTagName('a')[0]);
							// ]]>
						</script>
						<% end %>

					<br style="clear:both"/>

					<h2>Attributes</h2>
						<% for attribute in Title::attributes %>
						<div class="title_rating_attribute">
							<div id="ratings_<%=attribute%>" class="rating_star">
								<input id="title_rating_<%=attribute%>" name="title_rating[<%=attribute%>]" class="holder" type="hidden" value="<%= @title_rating.send(attribute) || 0 %>" />
								<a title="Don't Rate" class="dont" onclick="star_click_rating(this)" onmouseover="star_update_images(this, 0)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="1"       onclick="star_click_rating(this)" onmouseover="star_update_images(this, 1)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="2"       onclick="star_click_rating(this)" onmouseover="star_update_images(this, 2)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="3"       onclick="star_click_rating(this)" onmouseover="star_update_images(this, 3)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="4"       onclick="star_click_rating(this)" onmouseover="star_update_images(this, 4)" onmouseout="star_mouse_off_rating(this)"></a>
								<a title="5"       onclick="star_click_rating(this)" onmouseover="star_update_images(this, 5)" onmouseout="star_mouse_off_rating(this)"></a>
								&nbsp; <b><%= attribute.humanize %></b>
							</div>
						</div>
						<script type="text/javascript" language="JavaScript">
							// <![CDATA[
							// Set the initial value of the stars
							star_mouse_off_rating($("ratings_<%=attribute%>").getElementsByTagName('a')[0]);
							// ]]>
						</script>
						<% end %>

					<br style="clear:both"/>

					<button style="width: 80px;" onclick="new Ajax.Updater('search_results', 
												'/titles/_search', 
												{asynchronous: true, evalScripts: true, 
													onLoading: function(request) {
																$('search_by_ratings').hide();
																$('search_results').show();
																$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
													},
													parameters: {
														authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
														type: 'by_rating',
														<% for genre in Title::genres + Title::attributes %>
														'title_rating[<%=genre%>]' : $('title_rating_<%=genre%>').value,
														<% end %>
													}
												}); return false;">
					Search</button>
				</div>
			</div>

			<div id="search_by_tags" style="padding-left:20px; display: none;">
				<% for tag in @tags %>
					<a href="" onclick="new Ajax.Updater('search_results', 
												'/titles/_search', 
												{asynchronous: true, evalScripts: true, 
													onLoading: function(request) {
																$('search_by_tags').hide();
																$('search_results').show();
																$('search_results').innerHTML='<img src=\'/images/ajax-loading.gif\' />';
													},
													parameters: {
														authenticity_token: encodeURIComponent('<%=form_authenticity_token%>'), 
														type: 'by_tags',
														tag_id: <%=tag.id%>
													}
												}); return false;"><%=tag.name%></a>
				<% end %>
			</div>

			<div id="search_results" style="padding-left:20px;<%=@has_results ? '' : 'display: none'%>">
			</div>
		</td>
		<td style="background:url(/images/oj_right.jpg) right repeat-y;">
		</td>
	</tr>
	<tr>
		<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
		<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
		<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
	</tr>
</table>
</div>



