
<h1><%=h @title.name %></h1>

<div style="border: 3px solid red; padding: 7px;">
	<h2>Information</h2>

	<b>Release Date:</b>
	<%=h @title.release_date %><br />

	<b>Source:</b>
	<%=h @title.source %><br />

	<b>Director:</b>
	<%=h @title.director %><br />

	<b>Cast:</b>
	<%=h @title.cast %><br />

	<b>Runtime:</b>
	<%=h @title.runtime %><br />

	<b>Rating:</b>
	<%=h Rating::NAMES_ABBREVIATIONS.select { |k, v| v == @title.rating }.first.first %><br />

	<b>Premise:</b>
	<%=h @title.premise %><br />

	<%= link_to 'Edit title information', edit_title_path(@title) %>
</div>

<div style="float: left; border: 3px solid green; padding: 7px;">
	<h2>Ratings</h2>
	<div style="float: left;">
		<h3>Genre:</h3>
		<% for genre in Title::genres %>
		<% n = Title::genres.index(genre) %>
		<div class="title_rating_attribute">
			<span id="genre_<%=n%>">
				<% count = @title.send("avg_#{genre}") || 0 %>
				<%= 
					("<img src=\"/images/heart_on.jpg\" />" * count) + ("<img src=\"/images/heart_off.jpg\" />" * (5 - count))
				-%>
			</span>
			<b><%= genre.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</div>

	<h3>Attributes:</h3>
	<div style="float: left;">
		<% for attribute in Title::attributes %>
		<% n = Title::genres.index(genre) %>
		<div class="title_rating_attribute">
			<span id="attribute_<%=n%>">
				<% count = @title.send("avg_#{attribute}") || 0 %>
				<%= 
					("<img src=\"/images/heart_on.jpg\" />" * count) + ("<img src=\"/images/heart_off.jpg\" />" * (5 - count))
				-%>
			</span>
			<b><%=h attribute.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</div>
	<%= link_to 'Rate this film', :controller => 'title_ratings', :action => 'new', :title_id => @title.id %>
</div>

<div style="border: 3px solid purple; padding: 7px;">
	<h2>Reviews</h2>

	<%= link_to_function 'Users', "Element.show('user_container'); Element.hide('moderator_container'); Element.hide('critic_container')" %>
	<%= link_to_function 'Moderators', "Element.show('moderator_container'); Element.hide('user_container'); Element.hide('critic_container')" %>
	<%= link_to_function 'Critics', "Element.show('critic_container'); Element.hide('moderator_container'); Element.hide('user_container')" %>

	<% for user_type in %w{user moderator critic} %>
	<div id="<%=user_type%>_container" style="<%= user_type!='user' ? 'display: none; ' : '' %>border: 3px solid blue; padding: 7px;">
		<%= link_to 'Review this film', :controller => 'title_reviews', :action => 'new', :title_id => @title.id %>

		<% if @title_reviews[user_type].length == 0 %>
			<p>There are no reviews.</p>
		<% end %>

		<% for review in @title_reviews[user_type] %>
		<div style="border: 3px solid black; margin: 10px;">
			<%= image_tag review.user.avatar_file_or_default, :size => "100x100" %><br />
			<b><%= link_to(
				h(review.user.name), 
				:controller => 'users', 
				:action => 'show', 
				:id => review.user.id) %></b><br />

			<%=h review.body %>
		</div>
		<% end %>
	</div>
	<% end %>
</div>

