
<div style="width:600px; float:left;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

<%=h @title.proper_name %>

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

<table width="100%">

<!-- Start Entry Block -->
<tr valign="top"><td><%= poster_link(@title) %></td><td>

<p style="font-size:14px;">

<b>Release Date:</b> <%=h @title.release_date %><br />
<b>Source:</b> <%=h @title.source %><br />
<b>Director:</b> <%=h @title.director %><br />
<b>Cast:</b> <%=h @title.cast %><br />
<b>Runtime:</b> <%=h @title.runtime %><br />
<b>Rating:</b> <%=h Rating::NAMES_ABBREVIATIONS.select { |k, v| v == @title.rating }.first.first %><br /><br />
<b>Data Source:</b><br /><%= urls_to_hrefs(@title.data_source) || 'Unspecified' %><br />
<b>Premise:</b> <%=h @title.premise %><br />

<%= link_to 'Edit title information', edit_title_path(@title), :id => 'lnk_edit_title', :style => 'display: none;' %>
</td></tr>
<!-- End Block -->
</table>


<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>






<div style="width:340px; float:right;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

Sponsor

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

stuff


<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>







<div id="ratings" style="width:960px; float:left; padding-top:15px;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

Ratings

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

<table width="100%" border="0" class="star_table">
<tr><td colspan="4" style="text-align: right;">Averaged from <%= @ratings_count %> rating<%= @ratings_count == 1 ? "" : "s" %></td></tr>
<tr><td colspan="4"><h2>Genre</h2></td></tr>
	<% count = 0; incr = 4 %>
	<% while count < Title::genres.length %>
	<tr>
		<% for genre in Title::genres.slice(count, incr) %>
		<td>
			<nobr>
			<span>
				<%= star_images(@title.send("avg_#{genre}")) %>
			</span>
			&nbsp;<b><%= genre.humanize %></b>
			</nobr>
		</td>
		<% end %>
		<% count += incr %>
	</tr>
	<% end %>
</td></tr>

<tr><td colspan="4"><hr /></td></tr>

<tr><td colspan="4"><h2>Attributes</h2></td></tr>
	<% count = 0; incr = 4 %>
	<% while count < Title::attributes.length %>
	<tr>
		<% for attribute in Title::attributes.slice(count, incr) %>
		<td>
			<nobr>
			<span>
				<%= star_images(@title.send("avg_#{attribute}")) %>
			</span>
			&nbsp;<b><%= attribute.humanize %></b>
			</nobr>
		</td>
		<% end %>
		<% count += incr %>
	</tr>
	<% end %>
</td></tr>
</table>

<table align="center" style="margin-top:25px;"><tr><td>
<%= link_to image_tag('rate_this_movie.jpg'), {:controller => 'title_ratings', :action => 'new', :title_id => @title.id }, {:id => 'lnk_edit_rating', :style => 'display: none;'} %>
</td><td>
<%= link_to image_tag('write_a_review.jpg'), {:controller => 'title_reviews', :action => 'new', :title_id => @title.id}, {:id => 'lnk_edit_review', :style => 'display: none;'} %>
</td><td>
<%= link_to image_tag('tag_this_movie.jpg'), {:controller => 'title_tags', :action => 'new', :id => @title.id, :user_id => @user_id }, {:id => 'lnk_edit_tag', :style => 'display: none;'} %>
</td></tr></table>



<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>




<br style="clear: both;" />

<div id="reviews">
	<h2>Reviews</h2>

	<br />

	<% for title, review in { 'New Review' => @new_review, 'Top Review' => @top_review, 'Critic' => @critic_review } %>
	<div style="width:300px; float:left; padding-top:15px; margin-right:20px">
	<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
	<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
	<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
	<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

	<%= title %>

	</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
	</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
	<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
	<!-- =================================================================================== END CENTER STUFF ======= -->
	<% unless review %>
	<div>
		Nothing yet
	</div>
	<% else %>
	<% id = review.id %>
	<div>
		<div style="float:left; margin:10px;">
			<%= image_tag review.user.avatar_file_or_default, :size=>"100x100" %>
		</div>

		<div>
			&quot;<%= h(review.body).gsub("\n", "<br />") %>&quot;
			by <%= link_to(
				h(review.user.user_name), 
				:controller => 'users', 
				:action => 'show', 
				:id => review.user.id) %><br />
			<% user_rating = review.get_user_rating(session[:user_id]) || 0 %>

			<div id="rating_<%=id%>" class="rating_star" style="display: none;">
				
				<b>How you rate this review:</b><br />
				<input id="title_rating_<%=id%>" name="title_rating[<%=id%>]" class="holder" type="hidden" value="<%= user_rating %>" />
				<a title="Don't Rate" class="dont" onclick="star_click_rating(this); rate_review('title_rating_<%=id%>', <%=id%>);" onmouseover="star_update_images(this, 0)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="1"    onclick="star_click_rating(this); rate_review('title_rating_<%=id%>', <%=id%>);" onmouseover="star_update_images(this, 1)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="2"    onclick="star_click_rating(this); rate_review('title_rating_<%=id%>', <%=id%>);" onmouseover="star_update_images(this, 2)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="3"    onclick="star_click_rating(this); rate_review('title_rating_<%=id%>', <%=id%>);" onmouseover="star_update_images(this, 3)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="4"    onclick="star_click_rating(this); rate_review('title_rating_<%=id%>', <%=id%>);" onmouseover="star_update_images(this, 4)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="5"    onclick="star_click_rating(this); rate_review('title_rating_<%=id%>', <%=id%>);" onmouseover="star_update_images(this, 5)" onmouseout="star_mouse_off_rating(this)"></a>
			</div>
			<script type="text/javascript" language="JavaScript">
				// <![CDATA[
				// Set the initial value of the stars
				star_mouse_off_rating($("rating_<%=id%>").getElementsByTagName('a')[0]);

				function rate_review(star_value_id, review_id) {
					var hidden = $(star_value_id);
					var count = hidden.value;

					new Ajax.Updater(hidden.id, 
									'/title_reviews/set_review_rating?rating=' + count + '&review_id=' + review_id, 
									{asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>')});
				}
				// ]]>
			</script>



			<% avg_rating = review.avg_user_rating || 0 %>
			<div id="average_<%=id%>_container">
				<input id="average_<%=id%>" type="hidden" value="<%=avg_rating%>" />
				<b>How others rated this review:</b><br />
				<span id="average_<%=id%>_info">
					<%=
						("<img src=\"/images/heart_on.jpg\" alt=\"\" />" * avg_rating) +
						("<img src=\"/images/heart_off.jpg\" alt=\"\" />" * (5 - avg_rating))
					%>
				</span>
			</div>
		</div>
	</div>
	<% end %>


	<!-- =================================================================================== START END TABLE ======== -->
	</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
	<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
	<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
	<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
	</tr></table><!-- ====================================================================== END TABLE ============== -->
	</div>
	<% end %>
</div>


<div id="ratings" style="width:960px; float:left; padding-top:15px;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

Other Reviews

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

<div id="external_title_reviews"></div>
<script type="text/javascript">
	// <!CDATA[
	new Ajax.Updater("external_title_reviews", 
					"/title_reviews/list_by_title/<%=@title.id%>", 
					{asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>')});
	// ]]>
</script>

<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>


<script type="text/javascript">
	// <!CDATA[
	// Show all the elements the user is allowed to see.
	show_tags_to_moderator_only('a', 'lnk_edit_title');
	show_tags_to_user_only('a', 'lnk_edit_rating');
	show_tags_to_user_only('a', 'lnk_edit_review');
	show_tags_to_user_only('a', 'lnk_edit_tag');
	show_tags_to_user_only('div', /^rating_\d*$/);

	// Hide the reviews and ratings if this title is not out yet
	var today = new Date();
	<% if @title.release_date %>
	var release = new Date(<%=h @title.release_date.year %>, <%=h @title.release_date.month-1 %>, <%=h @title.release_date.day %>);
	<% else %>
	var release = 0;
	<% end %>
	if(release > today) {
		$('ratings').hide();
		$('reviews').hide();
	}
	// ]]>
</script>

