

<div style="width:600px; float:left;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

<%=h @title.name %>

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

<table width="100%">

<!-- Start Entry Block -->
<tr valign="top"><td><div class="image_holder1">Poster</div></td><td>

<p>

Release Date: <%=h @title.release_date %><br />
Source: <%=h @title.source %><br />
Director: <%=h @title.director %><br />
Cast: <%=h @title.cast %><br />
Runtime: <%=h @title.runtime %><br />
Rating: <%=h Rating::NAMES_ABBREVIATIONS.select { |k, v| v == @title.rating }.first.first %><br />
Data Source: <%= urls_to_hrefs(@title.data_source) || 'Unspecified' %><br />
Premise: <%=h @title.premise %><br />

<%= link_to 'Edit title information', edit_title_path(@title), :id => 'lnk_edit_title', :style => 'display: none;' %>
</td></tr>
<!-- End Block -->
</table>


<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>






<div style="width:340px; float:right;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

Sponsor

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

stuff


<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>







<div id="ratings" style="width:960px; float:left; padding-top:15px;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

Ratings

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

<table width="100%" border="0">
<tr><td colspan="4"><h2>Genre</h2></td></tr>
	<% count = 0; incr = 4 %>
	<% while count < Title::genres.length %>
	<tr>
		<% for genre in Title::genres.slice(count, incr) %>
		<td>
			<span>
				<%= star_images(@title.send("avg_#{genre}")) %>
			</span>
			<b><%= genre.humanize[0, 13] %></b>
		</td>
		<% end %>
		<% count += incr %>
	</tr>
	<% end %>
</td></tr>

<tr><td colspan="4"><hr /></td></tr>

<tr><td colspan="4"><h2>Attributes</h2></td></tr>
	<% count = 0; incr = 4 %>
	<% while count < Title::attributes.length %>
	<tr>
		<% for attribute in Title::attributes.slice(count, incr) %>
		<td>
			<span>
				<%= star_images(@title.send("avg_#{attribute}")) %>
			</span>
			<b><%= attribute.humanize[0, 13] %></b>
		</td>
		<% end %>
		<% count += incr %>
	</tr>
	<% end %>
</td></tr>
</table>

<%= link_to 'Rate this film', {:controller => 'title_ratings', :action => 'new', :title_id => @title.id }, {:id => 'lnk_edit_rating', :style => 'display: none;'} %>
<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>




<br style="clear: both;" />

<div id="reviews">
	<script type="text/javascript" language="JavaScript">
		/* <![CDATA[ */
		var IE = document.all ? true : false;
		var mouse_x = 0;
		var mouse_y = 0;
		var prev_mouse_x = -1;
		var prev_mouse_y = -1;
		var star_on = "<img src=\"/images/heart_on.jpg\" alt=\"\" />";
		var star_off = "<img src=\"/images/heart_off.jpg\" alt=\"\" />";
		var star_max = 5;
		var image_width = 20;

		setInterval(check_mouse_off, 125);

		var id_rects = [];
		function check_mouse_off() {
			if(mouse_x == prev_mouse_x &&
				mouse_y == prev_mouse_y) {
				return;
			}
			prev_mouse_x = mouse_x;
			prev_mouse_y = mouse_y;

			for(i=0; i<id_rects.length; i++) {
				// Determine if we are not on the star set
				var c = $(id_rects[i] + '_info');
				var is_off = false;
				if(IE) {
					var pos = IEfindPos(c);
					var left = pos[0] - window.document.documentElement.scrollLeft;
					var top = pos[1] - window.document.documentElement.scrollTop;
					var right = left + c.offsetWidth;
					var bottom = top + c.offsetHeight;
					is_off = !(mouse_x >= left && mouse_x <= right &&
							mouse_y >= top && mouse_y <= bottom);
				} else {
					var pos = IEfindPos(c);
					var left = pos[0];
					var top = pos[1];
					var right = left + c.offsetWidth;
					var bottom = top + c.offsetHeight;
					is_off = !(mouse_x >= left && mouse_x <= right &&
							mouse_y >= top && mouse_y <= bottom);
				}
				
				// Generate new star images if we are not on the set
				if(is_off) {
					var newHTML = star_off;
					var count = parseInt($(id_rects[i]).value);
					for(j=0; j<count; j++) {
						newHTML += star_on;
					}
					for(j=0; j<star_max-count; j++) {
						newHTML += star_off;
					}
					c.innerHTML = newHTML;
				}
			}
		}

		container = $('reviews');
		container.onmousemove = function(e) {
			var tempX = 0;
			var tempY = 0;
			if (IE) { // get the x and y for IE
				tempX = event.clientX + document.body.scrollLeft;
				tempY = event.clientY + document.body.scrollTop;
			} else { // get the x and y for standard based browsers
				tempX = e.pageX;
				tempY = e.pageY;
			}

			mouse_x = tempX;
			mouse_y = tempY;
		}
		
		function IEfindPos(obj) {
			var posX = obj.offsetLeft;
			var posY = obj.offsetTop;
			while(obj.offsetParent) {
				posX += obj.offsetParent.offsetLeft;
				posY += obj.offsetParent.offsetTop;
				if(obj == document.getElementsByTagName('body')[0]) {
					break
				} else {
					obj=obj.offsetParent;
				}
			}
			return [posX, posY];
		}
		/* ]]> */
	</script>

	<h2>Reviews</h2>

	<%= link_to 'Review this film', {:controller => 'title_reviews', :action => 'new', :title_id => @title.id}, {:id => 'lnk_edit_review', :style => 'display: none;'} %>

	<br />

	<% for title, review in { 'New Review' => @new_review, 'Top Review' => @top_review, 'Critic' => @critic_review } %>
	<div style="width:300px; float:left; padding-top:15px; margin-right:20px">
	<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
	<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
	<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
	<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
	<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

	<%= title %>

	</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
	</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
	<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
	<!-- =================================================================================== END CENTER STUFF ======= -->
	<% unless review %>
	<div>
		Nothing yet
	</div>
	<% else %>
	<% id = review.id %>
	<div>
		<div class="image_holder1" style="float:left; margin:10px;">
			<%= image_tag review.user.avatar_file_or_default, :size=>"100x125" %>
		</div>

		<div>
			&quot;<%=h review.body %>&quot;
			by <%= link_to(
				h(review.user.name), 
				:controller => 'users', 
				:action => 'show', 
				:id => review.user.id) %><br />
			<% user_rating = review.get_user_rating(session[:user_id]) || 0 %>
			<div id="rating_<%=id%>_container">
				<input id="rating_<%=id%>" type="hidden" value="<%=user_rating%>" />
				How you rate this review:<br />
				<span id="rating_<%=id%>_info">
					<%=
						("<img src=\"/images/heart_on.jpg\" alt=\"\" />" * user_rating) +
						("<img src=\"/images/heart_off.jpg\"  alt=\"\" />" * (5 - user_rating))
					%>
				</span>
			</div>

			<script type="text/javascript" language="JavaScript">
				/* <![CDATA[ */
				id_rects.push('rating_<%=id%>');

				$('rating_<%=id%>_info').onclick = function() {
					var value = $('rating_<%=id%>');
					var control = $('rating_<%=id%>_info');
					var on_count = control.innerHTML.split('on').length-1;
					value.value = on_count;
					new Ajax.Updater("rating_<%=id%>", '/title_reviews/set_review_rating?rating=' + on_count + '&review_id=' + <%=id%>, {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>')});
					return false;
				}

				$('rating_<%=id%>_info').onmousemove = function(e) {
					var control = $('rating_<%=id%>_info');
					var tempX = 0;
					var tempY = 0;
					if (IE) { // get the x and y for IE
						tempX = event.clientX + document.body.scrollLeft;
						tempY = event.clientY + document.body.scrollTop;
						var pos = IEfindPos(control);
						tempX -= (pos[0] + 5);
						tempY -= (pos[1] - 20);
					} else {  // get the x and y for standard based browsers
						tempX = e.pageX;
						tempY = e.pageY;
						var pos = IEfindPos(control);
						tempX -= (pos[0] + 5);
						tempY -= (pos[1] - 20);
					}

					var star_count = parseInt(tempX / image_width);
					if(star_count > star_max) star_count = 0;

					var content = star_off;
					for(i=0; i<star_count; i++) {
						content += star_on;
					}
					for(i=0; i<star_max-star_count; i++) {
						content += star_off;
					}
					control.innerHTML = content;
				}
				/* ]]> */
			</script>

			<% avg_rating = review.avg_user_rating || 0 %>
			<div id="average_<%=id%>_container">
				<input id="average_<%=id%>" type="hidden" value="<%=avg_rating%>" />
				How others rated this review:<br />
				<span id="average_<%=id%>_info">
					<%=
						("<img src=\"/images/heart_on.jpg\" alt=\"\" />" * avg_rating) +
						("<img src=\"/images/heart_off.jpg\" alt=\"\" />" * (5 - avg_rating))
					%>
				</span>
			</div>
		</div>
	</div>
	<% end %>


	<!-- =================================================================================== START END TABLE ======== -->
	</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
	<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
	<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
	<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
	</tr></table><!-- ====================================================================== END TABLE ============== -->
	</div>
	<% end %>
</div>

<script type="text/javascript">
	// <!CDATA[
	// Show all the elements the user is allowed to see.
	show_tags_to_moderator_only('a', 'lnk_edit_title');
	show_tags_to_user_only('a', 'lnk_edit_rating');
	show_tags_to_user_only('a', 'lnk_edit_review');

	// Hide the reviews and ratings if this title is not out yet
	var today = new Date();
	<% if @title.release_date -%>
	var release = new Date(<%=h @title.release_date.year %>, <%=h @title.release_date.month %>, <%=h @title.release_date.day %>);
	<% else -%>
	var release = 0;	
	<% end -%>	
	if(release > today) {
		$('ratings').hide();
		$('reviews').hide();
	}
	// ]]>
</script>

