
<h1><%=h @title.name %></h1>

<div style="border: 3px solid red; padding: 7px;">
	<h2>Information</h2>

	<b>Release Date:</b>
	<%=h @title.release_date %><br />

	<b>Source:</b>
	<%=h @title.source %><br />

	<b>Director:</b>
	<%=h @title.director %><br />

	<b>Cast:</b>
	<%=h @title.cast %><br />

	<b>Runtime:</b>
	<%=h @title.runtime %><br />

	<b>Rating:</b>
	<%=h Rating::NAMES_ABBREVIATIONS.select { |k, v| v == @title.rating }.first.first %><br />

	<b>Premise:</b>
	<%=h @title.premise %><br />

	<%= link_to 'Edit title information', edit_title_path(@title), :id => 'lnk_edit_title' %>
</div>

<div style="float: left; border: 3px solid green; padding: 7px;">
	<h2>Ratings</h2>
	<div style="float: left;">
		<h3>Genre:</h3>
		<% for genre in Title::genres %>
		<div class="title_rating_attribute">
			<span>
				<% count = @title.send("avg_#{genre}") || 0 %>
				<%= 
					("<img src=\"/images/heart_on.jpg\" alt=\"\" />" * count) + ("<img src=\"/images/heart_off.jpg\" alt=\"\" />" * (5 - count))
				-%>
			</span>
			<b><%= genre.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</div>

	<br style="clear: both;" />

	<h3>Attributes:</h3>
	<div style="float: left;">
		<% for attribute in Title::attributes %>
		<div class="title_rating_attribute">
			<span>
				<% count = @title.send("avg_#{attribute}") || 0 %>
				<%= 
					("<img src=\"/images/heart_on.jpg\" alt=\"\" />" * count) + ("<img src=\"/images/heart_off.jpg\" alt=\"\" />" * (5 - count))
				-%>
			</span>
			<b><%=h attribute.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</div>
	
	<br style="clear: both;" />
	
	<%= link_to 'Rate this film', {:controller => 'title_ratings', :action => 'new', :title_id => @title.id }, {:id => 'lnk_edit_rating'} %>
</div>

<br style="clear: both;" />

<div id="reviews" style="border: 3px solid purple; padding: 7px;">
	<script type="text/javascript" language="JavaScript">
		/* <![CDATA[ */
		var IE = document.all ? true : false;
		var mouse_x = 0;
		var mouse_y = 0;
		var prev_mouse_x = -1;
		var prev_mouse_y = -1;
		var star_on = "<img src=\"/images/heart_on.jpg\" alt=\"\" />";
		var star_off = "<img src=\"/images/heart_off.jpg\" alt=\"\" />";
		var star_max = 5;
		var image_width = 20;

		setInterval(check_mouse_off, 125);

		var id_rects = [];
		function check_mouse_off() {
			if(mouse_x == prev_mouse_x &&
				mouse_y == prev_mouse_y) {
				return;
			}
			prev_mouse_x = mouse_x;
			prev_mouse_y = mouse_y;

			for(i=0; i<id_rects.length; i++) {
				// Determine if we are not on the star set
				var c = $(id_rects[i] + '_info');
				var is_off = false;
				if(IE) {
					var pos = IEfindPos(c);
					var left = pos[0] - window.document.documentElement.scrollLeft;
					var top = pos[1] - window.document.documentElement.scrollTop;
					var right = left + c.offsetWidth;
					var bottom = top + c.offsetHeight;
					is_off = !(mouse_x >= left && mouse_x <= right &&
							mouse_y >= top && mouse_y <= bottom);
				} else {
					var left = c.offsetLeft;
					var right = c.offsetLeft + c.offsetWidth;
					var top = c.offsetTop;
					var bottom = c.offsetTop + c.offsetHeight;
					is_off = !(mouse_x >= left && mouse_x <= right &&
							mouse_y >= top && mouse_y <= bottom);
				}
				
				// Generate new star images if we are not on the set
				if(is_off) {
					var newHTML = star_off;
					var count = parseInt($(id_rects[i]).value);
					for(j=0; j<count; j++) {
						newHTML += star_on;
					}
					for(j=0; j<star_max-count; j++) {
						newHTML += star_off;
					}
					c.innerHTML = newHTML;
				}
			}
		}

		container = $('reviews');
		container.onmousemove = function(e) {
			var tempX = 0;
			var tempY = 0;
			if (IE) { // grab the x-y pos.s if browser is IE
				tempX = event.clientX + document.body.scrollLeft;
				tempY = event.clientY + document.body.scrollTop;
			} else {  // grab the x-y pos.s if browser is NS
				tempX = e.pageX;
				tempY = e.pageY;
			}

			mouse_x = tempX;
			mouse_y = tempY;
		}
		
		function IEfindPos(obj) {
			var posX = obj.offsetLeft;
			var posY = obj.offsetTop;
			while(obj.offsetParent) {
				posX += obj.offsetParent.offsetLeft;
				posY += obj.offsetParent.offsetTop;
				if(obj == document.getElementsByTagName('body')[0]) {
					break
				} else {
					obj=obj.offsetParent;
				}
			}
			return [posX, posY];
		}
		/* ]]> */
	</script>

	<h2>Reviews</h2>

	<%= link_to 'Review this film', {:controller => 'title_reviews', :action => 'new', :title_id => @title.id}, {:id => 'lnk_edit_review'} %>

	<br />
	<%= link_to_function 'Users', "Element.show('user_container'); Element.hide('moderator_container'); Element.hide('critic_container')" %>
	<%= link_to_function 'Moderators', "Element.show('moderator_container'); Element.hide('user_container'); Element.hide('critic_container')" %>
	<%= link_to_function 'Critics', "Element.show('critic_container'); Element.hide('moderator_container'); Element.hide('user_container')" %>

	<% for user_type in %w{user moderator critic} %>
	<div id="<%=user_type%>_container" style="<%= user_type!='user' ? 'display: none; ' : '' %>border: 3px solid blue; padding: 7px;">
		<% if @title_reviews[user_type].length == 0 %>
			<p>There are no reviews.</p>
		<% end %>

		<% for review in @title_reviews[user_type] %>
		<% id = review.id %>
		<div style="border: 3px solid black; margin: 10px;">
			<%= image_tag review.user.avatar_file_or_default, :size => "100x100" %><br />
			<b><%= link_to(
				h(review.user.name), 
				:controller => 'users', 
				:action => 'show', 
				:id => review.user.id) %></b><br />

			<%=h review.body %>
			<% user_rating = review.get_user_rating(session[:user_id]) %>
			<div id="rating_<%=id%>_container">
				<input id="rating_<%=id%>" type="hidden" value="<%=user_rating%>" />
				How you rate this review: 
				<span id="rating_<%=id%>_info">
					<%=
						("<img src=\"/images/heart_on.jpg\" alt=\"\" />" * user_rating) +
						("<img src=\"/images/heart_off.jpg\"  alt=\"\" />" * (5 - user_rating))
					%>
				</span>
			</div>

			<script type="text/javascript" language="JavaScript">
				/* <![CDATA[ */
				id_rects.push('rating_<%=id%>');

				$('rating_<%=id%>_info').onclick = function() {
					var value = $('rating_<%=id%>');
					var control = $('rating_<%=id%>_info');
					var on_count = control.innerHTML.split('on').length-1;
					value.value = on_count;
					new Ajax.Updater("rating_<%=id%>", '/title_reviews/set_review_rating?rating=' + on_count + '&review_id=' + <%=id%>, {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>')});
					return false;
				}

				$('rating_<%=id%>_info').onmousemove = function(e) {
					var control = $('rating_<%=id%>_info');
					var tempX = 0;
					var tempY = 0;
					if (IE) { // get the x and y for IE
						tempX = event.clientX + document.body.scrollLeft;
						tempY = event.clientY + document.body.scrollTop;
						var pos = IEfindPos(control);
						tempX -= (pos[0] + 5);
						tempY -= (pos[1] - 20);
					} else {  // get the x and y for standard based browsers
						tempX = e.pageX;
						tempY = e.pageY;
						tempX -= control.offsetLeft;
						tempY -= control.offsetTop;
					}

					var star_count = parseInt(tempX / image_width);
					if(star_count > star_max) star_count = 0;

					var content = star_off;
					for(i=0; i<star_count; i++) {
						content += star_on;
					}
					for(i=0; i<star_max-star_count; i++) {
						content += star_off;
					}
					control.innerHTML = content;
				}
				/* ]]> */
			</script>

			<% avg_rating = review.avg_user_rating || 0 %>
			<div id="average_<%=id%>_container">
				<input id="average_<%=id%>" type="hidden" value="<%=avg_rating%>" />
				How others rated this review: 
				<span id="average_<%=id%>_info">
					<%=
						("<img src=\"/images/heart_on.jpg\" alt=\"\" />" * avg_rating) +
						("<img src=\"/images/heart_off.jpg\" alt=\"\" />" * (5 - avg_rating))
					%>
				</span>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
</div>

<script type="text/javascript">
	// <!CDATA[
	tags_visible_to_moderator_only('a', 'lnk_edit_title');
	tags_visible_to_user_only('a', 'lnk_edit_rating');
	tags_visible_to_user_only('a', 'lnk_edit_review');
	// ]]>
</script>

