
<div style="border: 3px solid red; padding: 7px;">
	<h2>Information</h2>
	<b>Name:</b>
	<%=h @title.name %><br />

	<b>Release Date:</b>
	<%=h @title.release_date %><br />

	<b>Source:</b>
	<%=h @title.source %><br />

	<b>Director:</b>
	<%=h @title.director %><br />

	<b>Cast:</b>
	<%=h @title.cast %><br />

	<b>Runtime:</b>
	<%=h @title.runtime %><br />

	<b>Rating:</b>
	<%=h Rating::NAMES_ABBREVIATIONS.select { |k, v| v == @title.rating }.first.first %><br />

	<b>Premise:</b>
	<%=h @title.premise %><br />

	<%= link_to 'Edit title information', edit_title_path(@title) %>
</div>

<div style="float: left; border: 3px solid green; padding: 7px;">
	<h2>Ratings</h2>
	<div style="float: left;">
		<h3>Genre:</h3>
		<% for genre in Title::genres %>
		<div class="small_left_item">
			<b><%= genre.gsub('_', ' ').capitalize %>:</b>
			<%=h @title.average_rating(genre) || 'none' %>
		</div>
		<% end %>
	</div>

	<h3>Attributes:</h3>
	<div style="float: left;">
		<% for attribute in Title::attributes %>
		<div class="small_left_item">
			<b><%=h attribute.gsub('_', ' ').capitalize %>:</b>
			<%=h @title.average_rating(attribute) || 'none' %>
		</div>
		<% end %>
	</div>
	<%= link_to 'Rate this film', :controller => 'title_ratings', :action => 'new', :title_id => @title.id %>
</div>

<div style="border: 3px solid blue; padding: 7px;">
	<h2>Reviews</h2>
	<%= link_to 'Review this film', :controller => 'title_reviews', :action => 'new', :title_id => @title.id %>
	<% for review in @title_reviews %>
	<div style="border: 3px solid black; margin: 10px;">
		<%= image_tag review.user.avatar_file_or_default, :size => "100x100" %><br />
		<b><%=h review.user.name %></b><br />
		<%=h review.body %>
	</div>
	<% end %>
</div>

