



<p>Howdy <i><%=@reviewer_name%></i> from Me Love Movies</p>

<p>
	The user <a href="<%=@server_domain%>/users/<%=@commenter_id%>"><%=@commenter_name%></a> 
	has commented on your review of <a href="<%=@server_domain%>/titles/<%=@title_name%>"><%=@title_name%></a>.
</p>

<p>
	If you do not want to receive these notifications, 
	you can turn them off in <a href="<%=@server_domain%>/users/<%=@reviewer_id%>">your profile</a>.
</p>

<p>
	<a href="<%=@server_domain%>"><%=@server_domain%></a>
</p>
