

<p>Me Love Movies Beta Request for <i><%=@user_name%> <%=@human_name%> &lt;<%=@email%>&gt;</i></p>

<p>
	<a href="<%=@server_domain%>/users/set_beta_activated?secret=<%=@secret%>">Activate Account</a>
	or
	<a href="<%=@server_domain%>/users/set_beta_delete?secret=<%=@secret%>">Delete Account</a>
</p>

<p>
	The user will automatically be emailed when the account is activated or created.
</p>

<p>
	<a href="<%=@server_domain%>"><%=@server_domain%></a>
</p>
