

<p>Welcome to Me Love Movies <i><%=@human_name%></i></p>

<p>
	Your account at 
	<a href="<%=@server_domain%>"><%=@server_domain%></a> 
	with the user name '<%=@user_name%>' has been created.
</p>

<p>
	Before your account can be
	used, you must click the link to activate it.
</p>

<p>
	<a href="<%=@server_domain%>/users/set_is_email_activated?secret=<%=@secret%>">Click here to activate your account</a>
</p>


