

<p>Welcome to Me Love Movies <i><%=@human_name%><i></p>

<p>
	This email is to inform you that someone has 
	created an account at 
	<a href="<%=@server_domain%>"><%=@server_domain%></a> 
	with the user name <%=@user_name%>. Before this account can be
	used, you must click the link to activate it.
</p>

<p>
	<a href="<%=@server_domain%>/users/activate/poop">Click here to activate your account</a>
</p>


