
<% form_for(title_rating) do |f| %>
	<fieldset>
		<legend>Genre</legend>
		<% for genre in Title::genres %>
		<div class="title_rating_attribute">
			<%= f.select genre, (0..5), :include_blank => true %>
			<b><%= genre.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</fieldset>

	<fieldset>
		<legend>Attributes</legend>
		<% for attribute in Title::attributes %>
		<div class="title_rating_attribute">
			<%= f.select attribute, (0..5), :include_blank => true %>
			<b><%= attribute.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</fieldset>

	<%= f.hidden_field :title_id, :value => title_rating.title_id %>

	<p>
		<%= f.submit button_name %>
	</p>
<% end %>
