

<div id="container">
<% form_for(title_rating) do |f| %>

<div id="ratings" style="width:960px; float:left; padding-top:15px;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

Ratings

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

<table width="100%" border="0">
<tr><td colspan="4"><h2>Genre</h2></td></tr>
	<% count = 0; incr = 4 %>
	<% while count < Title::genres.length %>
	<tr>
		<% for genre in Title::genres.slice(count, incr) %>
		<td>
			<div id="ratings_<%=genre%>" class="rating_star">
				<input id="title_rating_<%=genre%>" name="title_rating[<%=genre%>]" class="holder" type="hidden" value="<%= @title_rating.send(genre) || 0 %>" />
				<a title="Don't Rate" class="dont" onclick="star_click_rating(this)" onmouseover="star_update_images(this, 0)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="1"   onclick="star_click_rating(this)" onmouseover="star_update_images(this, 1)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="2"   onclick="star_click_rating(this)" onmouseover="star_update_images(this, 2)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="3"   onclick="star_click_rating(this)" onmouseover="star_update_images(this, 3)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="4"   onclick="star_click_rating(this)" onmouseover="star_update_images(this, 4)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="5"   onclick="star_click_rating(this)" onmouseover="star_update_images(this, 5)" onmouseout="star_mouse_off_rating(this)"></a>
				<b><%= genre.humanize %></b>
			</div>
			<script type="text/javascript" language="JavaScript">
				// <![CDATA[
				// Set the initial value of the stars
				star_mouse_off_rating($("ratings_<%=genre%>").getElementsByTagName('a')[0]);
				// ]]>
			</script>
		</td>
		<% end %>
		<% count += incr %>
	</tr>
	<% end %>
</td></tr>

<tr><td colspan="4"><hr /></td></tr>

<tr><td colspan="4"><h2>Attributes</h2></td></tr>
	<% count = 0; incr = 4 %>
	<% while count < Title::attributes.length %>
	<tr>
		<% for attribute in Title::attributes.slice(count, incr) %>
		<td>
			<div id="ratings_<%=attribute%>" class="rating_star">
				<input id="title_rating_<%=attribute%>" name="title_rating[<%=attribute%>]" class="holder" type="hidden" value="<%= @title_rating.send(attribute) || 0 %>" />
				<a title="Don't Rate" class="dont" onclick="star_click_rating(this)" onmouseover="star_update_images(this, 0)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="1"    onclick="star_click_rating(this)" onmouseover="star_update_images(this, 1)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="2"    onclick="star_click_rating(this)" onmouseover="star_update_images(this, 2)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="3"    onclick="star_click_rating(this)" onmouseover="star_update_images(this, 3)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="4"    onclick="star_click_rating(this)" onmouseover="star_update_images(this, 4)" onmouseout="star_mouse_off_rating(this)"></a>
				<a title="5"    onclick="star_click_rating(this)" onmouseover="star_update_images(this, 5)" onmouseout="star_mouse_off_rating(this)"></a>
				<b><%= attribute.humanize %></b>
			</div>
			<script type="text/javascript" language="JavaScript">
				// <![CDATA[
				// Set the initial value of the stars
				star_mouse_off_rating($("ratings_<%=attribute%>").getElementsByTagName('a')[0]);
				// ]]>
			</script>
		</td>
		<% end %>
		<% count += incr %>
	</tr>
	<% end %>
	<tr>
		<td>
			<%= f.submit button_name %>
		</td>
	</tr>
</td></tr>
</table>

<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>

	<%= f.hidden_field :title_id, :value => title_rating.title_id %>
<% end %>
</div>
