
<% form_for(title_rating) do |f| %>

	<% genres = %w{action comedy drama scifi romance musical kids adventure 
				mystery suspense horror fantasy tv war western sports} %>

	<% attributes = %w{premise plot music acting special_effects pace character_development cinematography} %>

	<fieldset>
		<legend>Genre</legend>
		<% for genre in genres %>
		<div class="title_rating_attribute">
			<%= f.select genre, (0..5), :include_blank => true %>
			<b><%= genre.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</fieldset>

	<fieldset>
		<legend>Attributes</legend>
		<% for attribute in attributes %>
		<div class="title_rating_attribute">
			<%= f.select attribute, (0..5), :include_blank => true %>
			<b><%= attribute.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</fieldset>

	<p>
		<%= f.submit button_name %>
	</p>
<% end %>
