
<% form_for(title_rating) do |f| %>
	<fieldset>
		<legend>Genre</legend>
		<% for genre in Title::genres %>
		<% n = Title::genres.index(genre) %>
		<div id="genre_<%=n%>"
			class="title_rating_attribute">
			<%= image_tag 'heart_off.jpg' %><%= image_tag 'heart_on.jpg' %><%= image_tag 'heart_on.jpg' %><%= image_tag 'heart_on.jpg' %><%= image_tag 'heart_on.jpg' %><%= image_tag 'heart_on.jpg' %>
			<b><%= genre.gsub('_', ' ').capitalize %></b>
		</div>
		<script>
		var IE = document.all ? true : false;
		$('genre_<%=n%>').onmousemove = function getMouseXY(e) {
			var control = $('genre_<%=n%>');
			var image_width = 20;
			var tempX = 0;
			var tempY = 0;
			if (IE) { // grab the x-y pos.s if browser is IE
				tempX = e.clientX + document.body.scrollLeft;
				tempY = e.clientY + document.body.scrollTop;
			} else {  // grab the x-y pos.s if browser is NS
				tempX = e.pageX;
				tempY = e.pageY;
			}
			tempX -= control.offsetLeft;
			tempY -= control.offsetTop;

			var star_on = "<img src=\"/images/heart_on.jpg\" />";
			var star_off = "<img src=\"/images/heart_off.jpg\" />";
			var star_max = 5;
			var star_count = parseInt(tempX / image_width);
			if(star_count > star_max) star_count = star_max;

			var content = star_off;
			for(i=0; i<star_count; i++) {
				content += star_on;
			}
			for(i=0; i<star_max-star_count; i++) {
				content += star_off;
			}
			control.innerHTML = content + " <b>" + "<%=genre.gsub('_', ' ').capitalize%>" + "</b>";
		}
		</script>
		<% end %>
	</fieldset>

	<fieldset>
		<legend>Attributes</legend>
		<% for attribute in Title::attributes %>
		<% n = Title::attributes.index(attribute) %>
		<div id="attribute_<%=n%>"
			class="title_rating_attribute">
			<%= image_tag 'heart_off.jpg' %><%= image_tag 'heart_on.jpg' %><%= image_tag 'heart_on.jpg' %><%= image_tag 'heart_on.jpg' %><%= image_tag 'heart_on.jpg' %><%= image_tag 'heart_on.jpg' %>
			<b><%= attribute.gsub('_', ' ').capitalize %></b>
		</div>
		<script>
		var IE = document.all ? true : false;
		$('attribute_<%=n%>').onmousemove = function getMouseXY(e) {
			var control = $('attribute_<%=n%>');
			var image_width = 20;
			var tempX = 0;
			var tempY = 0;
			if (IE) { // grab the x-y pos.s if browser is IE
				tempX = e.clientX + document.body.scrollLeft;
				tempY = e.clientY + document.body.scrollTop;
			} else {  // grab the x-y pos.s if browser is NS
				tempX = e.pageX;
				tempY = e.pageY;
			}
			tempX -= control.offsetLeft;
			tempY -= control.offsetTop;

			var star_on = "<img src=\"/images/heart_on.jpg\" />";
			var star_off = "<img src=\"/images/heart_off.jpg\" />";
			var star_max = 5;
			var star_count = parseInt(tempX / image_width);
			if(star_count > star_max) star_count = star_max;

			var content = star_off;
			for(i=0; i<star_count; i++) {
				content += star_on;
			}
			for(i=0; i<star_max-star_count; i++) {
				content += star_off;
			}
			control.innerHTML = content + " <b>" + "<%=attribute.gsub('_', ' ').capitalize%>" + "</b>";
		}
		</script>
		<% end %>
	</fieldset>

	<%= f.hidden_field :title_id, :value => title_rating.title_id %>

	<p>
		<%= f.submit button_name %>
	</p>
<% end %>
