

<h1>Rating For '<%= @title_rating.title.name %>' by <%=h @title_rating.user.name %></h1>

<div id="ratings" style="width:960px; float:left; padding-top:15px;">
<!-- ====================================================================================TABLE BLOCK STARTS HERE -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
<tr valign="top"><td style="background:url(/images/oj_top_left.jpg) top left no-repeat;" width="22px" height="48px"></td>
<td style="background:url(/images/oj_top_center.jpg) repeat-x;">
<table cellpadding="0" cellspacing="0" border="0" class="title"><tr><td><img src="/images/panel_oj_hleft.jpg" /></td>
<td class="panel_title"><h1><!-- ==========================================================MOVIE TITLE GOES HERE -->

Ratings

</h1></td><td><img src="/images/panel_oj_hright.jpg" /></td></tr></table><!-- ============== CENTER STUFF ======== -->
</td><td style="background:url(/images/oj_top_right.jpg) top right no-repeat;" width="22px" height="48px"></td></tr>
<tr valign="top"><td style="background:url(/images/oj_left.jpg) left repeat-y;"></td><td class="panel_body">
<!-- =================================================================================== END CENTER STUFF ======= -->

<table width="100%" border="0" class="star_table">
<tr><td colspan="4"><h2>Genre</h2></td></tr>
	<% count = 0; incr = 4 %>
	<% while count < Title::genres.length %>
	<tr>
		<% for genre in Title::genres.slice(count, incr) %>
		<td>
			<nobr>
			<span>
				<%= star_images(@title_rating.title.send("avg_#{genre}")) %>
			</span>
			&nbsp;<b><%= genre.humanize %></b>
			</nobr>
		</td>
		<% end %>
		<% count += incr %>
	</tr>
	<% end %>
</td></tr>

<tr><td colspan="4"><hr /></td></tr>

<tr><td colspan="4"><h2>Attributes</h2></td></tr>
	<% count = 0; incr = 4 %>
	<% while count < Title::attributes.length %>
	<tr>
		<% for attribute in Title::attributes.slice(count, incr) %>
		<td>
			<nobr>
			<span>
				<%= star_images(@title_rating.title.send("avg_#{attribute}")) %>
			</span>
			&nbsp;<b><%= attribute.humanize %></b>
			</nobr>
		</td>
		<% end %>
		<% count += incr %>
	</tr>
	<% end %>
</td></tr>
</table>

<!-- =================================================================================== START END TABLE ======== -->
</td><td style="background:url(/images/oj_right.jpg) right repeat-y;"></td></tr><tr>
<td style="background:url(/images/oj_btm_left.jpg) bottom left no-repeat;" width="22px" height="22px"></td>
<td style="background:url(/images/oj_btm_center.jpg) bottom repeat-x;"></td>
<td style="background:url(/images/oj_btm_right.jpg) bottom right no-repeat;" width="22px" height="22px"></td>
</tr></table><!-- ====================================================================== END TABLE ============== -->
</div>


<br style="clear: both;" />

<%= link_to 'Edit this rating', edit_title_rating_path(@title_rating), :id => 'lnk_edit_rating', :style => 'display: none;' %> <br />
<%= link_to "Back to '#{@title_rating.title.name}'", :controller => 'titles', :action => 'show', :id => @title_rating.title.id %>

<script type="text/javascript">
	// <!CDATA[
	// Show all the elements the user is allowed to see.
	show_tags_to_originating_user_only('a', 'lnk_edit_rating', <%= h @title_rating.user.id %>);
	// ]]>
</script>


