<p>
  <b>Action:</b>
  <%=h @title_rating.action %>
</p>

<p>
  <b>Comedy:</b>
  <%=h @title_rating.comedy %>
</p>

<p>
  <b>Drama:</b>
  <%=h @title_rating.drama %>
</p>

<p>
  <b>Scifi:</b>
  <%=h @title_rating.scifi %>
</p>

<p>
  <b>Romance:</b>
  <%=h @title_rating.romance %>
</p>

<p>
  <b>Musical:</b>
  <%=h @title_rating.musical %>
</p>

<p>
  <b>Kids:</b>
  <%=h @title_rating.kids %>
</p>

<p>
  <b>Adventure:</b>
  <%=h @title_rating.adventure %>
</p>

<p>
  <b>Mystery:</b>
  <%=h @title_rating.mystery %>
</p>

<p>
  <b>Suspense:</b>
  <%=h @title_rating.suspense %>
</p>

<p>
  <b>Horror:</b>
  <%=h @title_rating.horror %>
</p>

<p>
  <b>Fantasy:</b>
  <%=h @title_rating.fantasy %>
</p>

<p>
  <b>Tv:</b>
  <%=h @title_rating.tv %>
</p>

<p>
  <b>War:</b>
  <%=h @title_rating.war %>
</p>

<p>
  <b>Western:</b>
  <%=h @title_rating.western %>
</p>

<p>
  <b>Sports:</b>
  <%=h @title_rating.sports %>
</p>

<p>
  <b>Premise:</b>
  <%=h @title_rating.premise %>
</p>

<p>
  <b>Plot:</b>
  <%=h @title_rating.plot %>
</p>

<p>
  <b>Music:</b>
  <%=h @title_rating.music %>
</p>

<p>
  <b>Acting:</b>
  <%=h @title_rating.acting %>
</p>

<p>
  <b>Special effects:</b>
  <%=h @title_rating.special_effects %>
</p>

<p>
  <b>Pace:</b>
  <%=h @title_rating.pace %>
</p>

<p>
  <b>Character development:</b>
  <%=h @title_rating.character_development %>
</p>

<p>
  <b>Cinematography:</b>
  <%=h @title_rating.cinematography %>
</p>


<%= link_to 'Edit', edit_title_rating_path(@title_rating) %> |
<%= link_to 'Back', title_ratings_path %>
