
<p>
	<b>Title:</b>
	<%=h @title_rating.title.name %>
</p>

<p>
	<b>User:</b>
	<%=h @title_rating.user.name %>
</p>

<div style="float: left;">
	<h2>Ratings</h2>
	<div style="float: left;">
		<h3>Genre:</h3>
		<% for genre in Title::genres %>
		<% n = Title::genres.index(genre) %>
		<div class="title_rating_attribute">
			<span id="genre_<%=n%>">
				<% count = @title_rating.title.send("avg_#{genre}") || 0 %>
				<%= "<img src=\"/images/heart_on.jpg\" />" * count %>
				<%= "<img src=\"/images/heart_off.jpg\" />" * (5 - count) %>
			</span>
			<b><%=h genre.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</div>

	<h3>Attributes:</h3>
	<div style="float: left;">
		<% for attribute in Title::attributes %>
		<% n = Title::attributes.index(attribute) %>
		<div class="title_rating_attribute">
			<span id="attribute_<%=n%>">
				<% count = @title_rating.title.send("avg_#{attribute}") || 0 %>
				<%= "<img src=\"/images/heart_on.jpg\" />" * count %>
				<%= "<img src=\"/images/heart_off.jpg\" />" * (5 - count) %>
			</span>
			<b><%=h attribute.gsub('_', ' ').capitalize %></b>
		</div>
		<% end %>
	</div>
</div>

<%= link_to 'Edit this rating', edit_title_rating_path(@title_rating) %> <br />
<%= link_to "Back to '#{@title_rating.title.name}'", :controller => 'titles', :action => 'show', :id => @title_rating.title.id %>


