
<p>
	<b>Title:</b>
	<%=h @title_rating.title.name %>
</p>

<p>
	<b>User:</b>
	<%=h @title_rating.user.name %>
</p>

<div style="float: left;">
	<h2>Ratings</h2>
	<div style="float: left;">
		<h3>Genre:</h3>
		<% for genre in Title::genres %>
		<div class="small_left_item">
			<b><%= genre.gsub('_', ' ').capitalize %>:</b>
			<%=h @title_rating.send(genre) || 'none' %>
		</div>
		<% end %>
	</div>

	<h3>Attributes:</h3>
	<div style="float: left;">
		<% for attribute in Title::attributes %>
		<div class="small_left_item">
			<b><%=h attribute.gsub('_', ' ').capitalize %>:</b>
			<%=h @title_rating.send(attribute) || 'none' %>
		</div>
		<% end %>
	</div>
</div>

<%= link_to 'Edit this rating', edit_title_rating_path(@title_rating) %> <br />
<%= link_to "Back to '#{@title_rating.title.name}'", :controller => 'titles', :action => 'show', :id => @title_rating.title.id %>


