<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% if @page_title %>
  <title><%=@page_title%> - Me Love Movies</title>
  <% else %>
  <title>Me Love Movies</title>
  <% end %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<!-- ================================================= HEADER ================================================ -->
<div id="header">
<div id="logo"><a href="/"><img src="/images/me_love_movies_logo.png" /></a></div>

<!-- Header Section -->
<div id="main_nav">
	<ul>
		<li id="nav_home"><%= link_to 'Home', :controller => 'home', :action => 'index' %></li>
		<li id="nav_search"><%= link_to 'Search', :controller => 'titles', :action => 'search' %></li>
		<li id="nav_user">
			<% if session[:user_id] %>
			<%= link_to 'My Account', :controller => 'users', :action => 'show', :id => session[:user_id] -%>
			<% else %>
			<%= link_to 'Sign Up', :controller => 'users', :action => 'new' -%>
			<% end %>
		</li>
	</ul>

	<script type="text/javascript" language="JavaScript">
		// <![CDATA[
		// Select the tab that best reflects the page we are on.
		var controller = "<%= self.request.path_parameters['controller'] %>";
		if(controller == 'home') {
			$('nav_home').className = "selected";
		} else if(controller == 'titles') {
			$('nav_search').className = "selected";
		} else if(controller == 'users') {
			$('nav_user').className = "selected";
		}
		// ]]>
	</script>
</div>
</div>





<!-- Content Top Section -->
<div id="nav2">

<!-- Search Movie by Title -->
<div id="search">
	<% form_tag :controller => 'titles', :action => 'search', :method => 'post' do %>
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td><img src="/images/search_title.jpg" alt="Search Title" /></td>
				<td><%= text_field_tag :title, params[:title], :id => 'search_title', :value => 'Search by Title' -%></td>
				<td><%= hidden_field_tag :type, 'by_title' -%></td>
				<td><%= submit_tag '&nbsp;', :id => 'submitbutton' -%></td>
			</tr>
		</table>
	<% end -%>

	<script type="text/javascript" language="JavaScript">
		// <![CDATA[
		has_default_text('search_title');
		// ]]>
	</script>
</div>

<div id="login" class="login">
	<% form_tag :controller => 'users', :action => 'login' do %>
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td><img src="/images/login_start.jpg" alt="Login tip" /></td>
				<td><%= text_field_tag :user_name, params[:user_name], :value => 'Username' -%></td>
				<td><img src="/images/login_center.jpg" alt="Login mid" /></td>
				<td><%= password_field_tag :password, params[:password], :value => 'Password' -%></td>
				<td><%= submit_tag "&nbsp;", :id => 'submitbutton' -%></td>
			</tr>
			<tr>
				<td colspan="5" style="text-align: right;">
					remember me
					<input name="is_persistent" id="is_persistent" type="checkbox" />
				</td>
			</tr>
		</table>
	<% end %>

	<script type="text/javascript" language="JavaScript">
		// <![CDATA[
		// Hide the log in box if the user is logged in
		has_default_text('user_name');
		has_default_text('password');
		if(is_logged_in()) {
			$('login').hide();
		}
		// ]]>
	</script>
</div>

<div id="logout" class="login">
	<table style="padding: 0px; margin: 0px;">
		<tr>
			<td><span id="greeting" style="font-size:18px; font-weight:bold;"></span></td>
			<td><%= link_to 'Click here to Logout', :controller => 'users', :action => 'logout' %></td>
		</tr>
	</table>
	<script type="text/javascript" language="JavaScript">
		// <![CDATA[
		// Hide the log out box if the user is logged out
		if(is_logged_in() == false) {
			$('logout').hide();
		}

		$('greeting').innerHTML = get_user_greeting_from_cookie();
		// ]]>
	</script>
</div>
</div>



<!-- ================================================= MAIN CONTENT ================================================ -->
<div id="content">
<p id="flash_notice" style="display: none;"></p>

<%= yield %>

<br style="clear:both"/> 
</div>







<!-- ================================================= FOOTER ================================================ -->
<div id="footer">

<ul>
    <li><%=link_to "Terms of Service", :controller => 'home', :action => "terms_of_service" %></li>
    <li><%=link_to "Privacy Policy", :controller => 'home', :action => "privacy_policy" %></li>
    <li><%=link_to "Why Sign Up", :controller => 'home', :action => "why_sign_up" %></li>
    <li><%=link_to "About", :controller => 'home', :action => "about" %></li>
    <li><strike><%=link_to "Advertise with Us", :controller => 'home', :action => "advertise_with_us" %></strike></li>
    <li><%=link_to "Contact", :controller => 'home', :action => "contact" %></li>
</ul>

</div>

<div id="footer2"><br />
	All information added to this website, except for user information, is licensed under the <a href="http://www.gnu.org/licenses/fdl-1.2.txt">GNU Free Documentation License</a><br />
	Border7 Group. Copyright &copy; 2008 MeLoveMovies.com. Designed by <a href="http://www.border7.com">Border7 Studios.</a>
	<br /> Rails v<%= RAILS_GEM_VERSION %> in <%= RAILS_ENV %> mode
	<% if CodeBase.is_available -%>
		| Bazaar:  
		<%= link_to_remote "log", :update => "bazaar_log",
				:url => { :controller => 'bzr', :action => 'log' },
				:complete => "Element.show('bazaar_log')" %>,
		<%= link_to_remote "diff", :update => "bazaar_log",
				:url => { :controller => 'bzr', :action => 'diff' },
				:complete => "Element.show('bazaar_log')" %>,
		<%= link_to_remote "status", :update => "bazaar_log",
				:url => { :controller => 'bzr', :action => 'status' },
				:complete => "Element.show('bazaar_log')" %>
		<div id="bazaar_log" style="display: none; text-align: left; margin: 10px; padding: 5px;">
		</div>
	<% end %>
</div>

<script type="text/javascript">
	// <!CDATA[
	update_flash_notice();
	scale_avatar_images();
	// ]]>
</script>

<script type="text/javascript">
	// <!CDATA[
	// Do some google analytics fu
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	// ]]>
</script>

<script type="text/javascript">
	// <!CDATA[
	var pageTracker = _gat._getTracker("UA-5538890-3");
	pageTracker._trackPageview();
	// ]]>
</script>

</body>
</html>
