<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Me Love Movies </title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'default' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<h1>Me Love Movies</h1> <%= user = get_user_from_session(); 'Howdy ' + (user ? user.name : 'Stranger') %>

<div id="navigation">
	<ul>
		<li><%= link_to 'Home', :controller => 'home', :action => 'index' %></li>
		<li><%= link_to 'Search', :controller => 'titles', :action => 'search' %></li>
		<% if session[:user_id] %>
		<li>
			<%= link_to 'My Account', :controller => 'users', :action => 'show', :id => session[:user_id] %>
			\ <%= link_to 'Logout', :controller => 'users', :action => 'login' %>
		</li>
		<% else %>
		<li>
			<%= link_to 'Login', :controller => 'users', :action => 'login' %>
			\ <%= link_to 'Signup', :controller => 'users', :action => 'new' %>
		</li>
		<% end %>
	</ul>
</div>
<hr />

<p id="flash_notice"><%= flash[:notice] %></p>

<%= yield %>

<hr />
<div id="footer">
	Copyright &copy; 2008 Me Love Movies
	| Rails v<%= RAILS_GEM_VERSION %> in <%= RAILS_ENV %> mode
	<% if CodeBase.is_available -%>
		| Bazaar:  
		<%= link_to_remote "log", :update => "bazaar_log",
				:url => { :controller => 'bzr', :action => 'log' },
				:complete => "Element.show('bazaar_log')" %>,
		<%= link_to_remote "diff", :update => "bazaar_log",
				:url => { :controller => 'bzr', :action => 'diff' },
				:complete => "Element.show('bazaar_log')" %>,
		<%= link_to_remote "status", :update => "bazaar_log",
				:url => { :controller => 'bzr', :action => 'status' },
				:complete => "Element.show('bazaar_log')" %>
		<div id="bazaar_log" style="display: none; text-align: left; margin: 10px; padding: 5px;">
		</div>
	<% end %>
</div>

</body>
</html>
