<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Me Love Movies </title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<!-- ================================================= HEADER ================================================ -->
<div id="header">
<div id="logo"><a href="/"><img src="/images/me_love_movies_logo.png" /></a></div>

<!-- Header Section -->
<div id="main_nav">
	<ul>
		<li id="nav_home"><%= link_to 'Home', :controller => 'home', :action => 'index' %></li>
		<li id="nav_search"><%= link_to 'Search', :controller => 'titles', :action => 'search' %></li>
		<li id="nav_user">
			<% if session[:user_id] %>
			<%= link_to 'My Account', :controller => 'users', :action => 'show', :id => session[:user_id] -%>
			<% else %>
			<%= link_to 'Sign Up', :controller => 'users', :action => 'new' -%>
			<% end %>
		</li>
	</ul>

	<script type="text/javascript" language="JavaScript">
		// <![CDATA[
		var controller = "<%= self.request.path_parameters['controller'] %>";
		if(controller == 'home') {
			$('nav_home').className = "selected";
		} else if(controller == 'titles') {
			$('nav_search').className = "selected";
		} else if(controller == 'users') {
			$('nav_user').className = "selected";
		}
		// ]]>
	</script>
</div>
</div>





<!-- Content Top Section -->
<div id="nav2">

<div id="login" class="login">
	<% form_tag :controller => 'users', :action => 'login' do %>
		<%= text_field_tag :user_name, params[:user_name], :value => 'Username' -%>
		<%= text_field_tag :password, params[:password], :value => 'Password' -%>
		<%= submit_tag "Login", :id => 'submitbutton' -%>
	<% end %>

	<script type="text/javascript" language="JavaScript">
		// <![CDATA[
		// FIXME: This whole concept does not work with a password field
		has_default_text('user_name');
		has_default_text('password');
		if(is_logged_in()) {
			$('login').hide();
		}
		// ]]>
	</script>
</div>

<div id="logout" class="login">
	<%= user = get_user_from_session(); 'Howdy ' + (user ? user.name : 'Stranger') %>
	<%= link_to 'logout', :controller => 'users', :action => 'logout' %>
	<script type="text/javascript" language="JavaScript">
		// <![CDATA[
		if(is_logged_in() == false) {
			$('logout').hide();
		}
		// ]]>
	</script>
</div>

<!-- Search Movie by Title -->
<div id="search">
	<% form_tag :controller => 'titles', :action => 'search', :method => 'post' do %>
		<%= text_field_tag :name, params[:name], :id => 'search_title', :value => 'Search by Title' -%>
		<%= hidden_field_tag :actor, '' -%>
		<%= hidden_field_tag :director, '' -%>
		<%= hidden_field_tag :type, 'by_name' -%>
		<%= submit_tag 'Search', :id => 'submitbutton' -%>
	<% end -%>

	<script type="text/javascript" language="JavaScript">
		// <![CDATA[
		has_default_text('search_title');
		// ]]>
	</script>
</div>
</div>



<!-- ================================================= MAIN CONTENT ================================================ -->
<div id="content">
<p id="flash_notice"><%= flash[:notice] %></p>
<script type="text/javascript" language="JavaScript">
	// <![CDATA[
	if($('flash_notice').innerHTML == '') {
		$('flash_notice').hide();
	}
	// ]]>
</script>

<%= yield %>

<br style="clear:both"/> 
</div>







<!-- ================================================= FOOTER ================================================ -->
<div id="footer">

<ul>
    <li><a href="">Terms of Service</a></li>
    <li><a href="">Privacy Policy</a></li>
    <li><a href="">How This Works</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Advertise with Us</a></li>
    <li><a href="">Contact</a></li>
</ul>

</div>

<div id="footer2"><br />
	Border7 Group. Copyright &copy; 2008 MeLoveMovies.com. Designed by <a href="http://www.border7.com">Border7 Studios.</a>
	<br /> Rails v<%= RAILS_GEM_VERSION %> in <%= RAILS_ENV %> mode
	<% if CodeBase.is_available -%>
		| Bazaar:  
		<%= link_to_remote "log", :update => "bazaar_log",
				:url => { :controller => 'bzr', :action => 'log' },
				:complete => "Element.show('bazaar_log')" %>,
		<%= link_to_remote "diff", :update => "bazaar_log",
				:url => { :controller => 'bzr', :action => 'diff' },
				:complete => "Element.show('bazaar_log')" %>,
		<%= link_to_remote "status", :update => "bazaar_log",
				:url => { :controller => 'bzr', :action => 'status' },
				:complete => "Element.show('bazaar_log')" %>
		<div id="bazaar_log" style="display: none; text-align: left; margin: 10px; padding: 5px;">
		</div>
	<% end %>
</div>

</body>
</html>
